# Pandas Essential Training

The following formula will determine if the olympics is held in that year

In [ ]:
year = 2028

year % 4 == 0

## Using pandas

In [ ]:
!pip install pandas==2.0.2

In [ ]:
import pandas

In [ ]:
import pandas as pd

In [ ]:
pd.__version__

In [ ]:
dir(pd)

In [ ]:
help(pd.read_csv)

In [ ]:
pd.read_csv?

Pandas documentation: https://pandas.pydata.org/docs/reference/index.html

## Reading tabular data into pandas

In [ ]:
!wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv

In [ ]:
from google.colab import files
files.upload()

In [ ]:
!ls -la

In [ ]:
pd.read_csv?

In [ ]:
pd.read_csv('olympics_1896_2004.csv')

In [ ]:
pd.read_csv(filepath_or_buffer='olympics_1896_2004.csv')

In [ ]:
oo = pd.read_csv('olympics_1896_2004.csv')
oo

In [ ]:
oo = pd.read_csv('olympics_1896_2004.csv', skiprows=5)
oo

In [ ]:
filename = "olympics_1896_2004.csv"

In [ ]:
from google.colab import files
files.upload()

## Get an overview of the data and displaying it

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
oo = pd.read_csv(filename, skiprows=5)
oo

In [ ]:
oo.shape

In [ ]:
oo.shape?

In [ ]:
oo.head()

In [ ]:
oo.head?

In [ ]:
oo.head(3)

In [ ]:
oo.tail()

In [ ]:
oo.sample(5)

In [ ]:
oo.sample?

In [ ]:
oo.info()

In [ ]:
oo.describe()

In [ ]:
pd.get_option("display.max_rows")

In [ ]:
pd.set_option("display.max_rows", None)
oo

In [ ]:
pd.set_option("display.max_rows", 60)
oo

In [ ]:
pd.get_option("display.max_columns")

In [ ]:
pd.get_option("display.width")

In [ ]:
pd.set_option("display.width", 100)

## Select a Series (column)

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
oo = pd.read_csv(filename, skiprows=5)
oo.sample(3)

In [ ]:
type(oo)

In [ ]:
oo["Discipline"]

In [ ]:
oo['Discipline']

In [ ]:
#oo["discipline"]

In [ ]:
type(oo["Discipline"])

In [ ]:
oo.Discipline

In [ ]:
oo.columns

In [ ]:
oo["Athlete Name"]

In [ ]:
oo.Athlete Name

In [ ]:
oo.sample(3)

In [ ]:
oo.Year.unique()

In [ ]:
oo.Year.unique?

In [ ]:
oo.Sport.unique()

In [ ]:
oo.sample(3)

In [ ]:
oo.Year.value_counts()

In [ ]:
oo.Year.value_counts?

In [ ]:
oo.Year.value_counts(normalize=True)

## Challenge

Answer the following questions. Indicate the Pandas command where relevant.

1.   What is the time range covered in this dataset?
2.   The Olympics take place every 4 years. Why are there missing years?
3.   What are the types of medals awarded?
4.   Across all of the Olympic Games, how many Gold, Silver and Bronze medals have there been?
5.   Why are there not an equal number of Gold, Silver and Bronze medals?
6.   There are more Gold medals than Silver, and more Silver than Bronze. Why might that be?
7.   What are the different NOCs (National Olympic Committees)
8.   What does the NOC 'ZZX' represent?

##Solution

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

1. What is the time range covered in this dataset?

In [ ]:
oo.Year.unique()

2. The Olympics take place every 4 years. Why are there missing years?
- World War 1: 1914-1918
- World War 2: 1939-1945

3. What are the types of medals awarded?

In [ ]:
oo.Medal.unique()

4. Across all of the Olympics, how many Gold, Silver and Bronze medals have there been?

In [ ]:
oo.Medal.value_counts()

5. Why are there not an equal number of Gold, Silver and Bronze medals?
- Tied results
- Team events
- Disqualifications

In [ ]:
oo.head(10)

6. There are more Gold medals than Silver, and more Silver than Bronze. Why might that be?

Men's 100km cycling
- https://en.wikipedia.org/wiki/Cycling_at_the_1896_Summer_Olympics_%E2%80%93_Men%27s_100_kilometres
- https://en.wikipedia.org/wiki/Aristidis_Konstantinidis

Men's 100m freestyle (1896)
- https://en.wikipedia.org/wiki/Swimming_at_the_1896_Summer_Olympics_%E2%80%93_Men%27s_100_metre_freestyle

7. What are the different NOCs (National Olympic Committees)

In [ ]:
oo.NOC.unique()

8. What does the NOC 'ZZX' represent?
- https://en.wikipedia.org/wiki/Mixed_teams_at_the_Olympics

## Python Lists and Dictionaries

In [ ]:
medals = ["Gold", "Silver", "Bronze"]
medals

In [ ]:
type(medals)

In [ ]:
position = {"First": "Gold",
            "Second": "Silver",
            "Third": "Bronze"
}
position

In [ ]:
type(position)

In [ ]:
position["First"]

## Rename a series (or column)

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
oo = pd.read_csv(filename, skiprows=5)
oo.sample(3)

In [ ]:
mapper = {"Athlete Name": "Athlete_Name",
          "Event Gender": "Event_Gender"}

In [ ]:
oo.rename?

In [ ]:
oo.rename(columns=mapper)

In [ ]:
oo.sample(3)

In [ ]:
oo = oo.rename(columns=mapper)
oo.sample(3)

In [ ]:
oo = pd.read_csv(filename, skiprows=5).rename(columns=mapper)
oo.sample(3)

In [ ]:
oo = pd.read_csv(filename, skiprows=5)
oo = oo.rename(columns={"Athlete Name": "Athlete_Name", "Event Gender": "Event_Gender"})
oo.sample(3)

In [ ]:
oo = pd.read_csv(filename, skiprows=5)
oo.columns

In [ ]:
column_names = ['Year', 'City', 'Sport', 'Discipline', 'Athlete_Name', 'NOC', 'Gender',
       'Event', 'Event_Gender', 'Medal', 'Position']
oo.columns = column_names
oo.sample(3)

In [ ]:
oo = pd.read_csv(filename, skiprows=5)
oo.sample(3)

In [ ]:
oo = pd.read_csv(filename, skiprows=5, names=column_names)
oo.head()

In [ ]:
oo = pd.read_csv(filename, skiprows=5, names=column_names, header=0)
oo.head()

## Remove a Series (column) or row

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
oo = pd.read_csv(filename, skiprows=5)
oo.sample(3)

In [ ]:
oo.drop('Position', axis=1)

In [ ]:
oo.drop('Position', axis=0)

In [ ]:
oo.sample(3)

In [ ]:
oo = oo.drop('Position', axis=1)
oo.sample(3)

In [ ]:
oo = pd.read_csv(filename, skiprows=5).drop('Position', axis=1)
oo.sample(3)

In [ ]:
oo = (pd.read_csv(filename, skiprows=5)
      .drop('Position', axis=1)
)
oo.sample(3)

In [ ]:
oo = (pd.read_csv(filename, skiprows=5)
      .drop('Position', axis=1)
)
oo.sample(3)

In [ ]:
oo = pd.read_csv(filename, skiprows=5)
oo.drop('Position', axis=1, inplace=True)
oo.sample(3)

In [ ]:
oo = (pd.read_csv(filename, skiprows=5)
      .drop('Position', axis=1, inplace=True)
)
oo.sample(3)

In [ ]:
oo.drop?

In [ ]:
oo = (pd.read_csv(filename, skiprows=5)
      .drop('Position', axis=1)
)
oo.sample(3)

In [ ]:
oo.head(3)

In [ ]:
oo = (pd.read_csv(filename, skiprows=5)
      .drop(2, axis=0)
)
oo.head(3)

In [ ]:
oo = (pd.read_csv(filename, skiprows=5)
      .drop([0, 1, 3], axis=0)
)
oo.head(3)

In [ ]:
oo = oo.drop(['City', 'Sport'], axis=1)
oo.head(3)

In [ ]:
oo = (pd.read_csv(filename, skiprows=5)
      .drop('Position', axis=1)
)
oo.sample(3)

In [ ]:
pd.merge?

In [ ]:
pd.concat?

In [ ]:
oo.groupby?

## Filtering rows for a single condition

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
oo = (pd.read_csv(filename, skiprows=5)
      .drop('Position', axis=1)
)
oo.sample(3)

In [ ]:
type(True)

In [ ]:
type(False)

In [ ]:
oo.Year.dtype

In [ ]:
first_olympics = (oo.Year == 1896)
first_olympics

In [ ]:
oo[first_olympics]

In [ ]:
oo[oo.Year == 1896]

In [ ]:
oo[oo.Year < 1896]

In [ ]:
oo[(oo.Year <= 1896)]

## Filter rows for multiple conditions

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
oo = (pd.read_csv(filename, skiprows=5)
      .drop('Position', axis=1)
)
oo.tail(3)

In [ ]:
oo.dtypes

In [ ]:
oo[oo.City == 'Athens']

In [ ]:
#oo[oo.City == Athens]

In [ ]:
oo[(oo.Year == 1896) | (oo.Year == 2004)]

In [ ]:
oo[(oo.City == 'Athens') & (oo.Year == 2004)]

In [ ]:
oo[(oo.City == 'Athens') & ~(oo.Year == 1896)]

In [ ]:
first_men_100m = oo[(oo.Year == 1896) & (oo.Gender == 'Men') & (oo.Event == '100m')]
first_men_100m

In [ ]:
oo[(oo.Year == 1896) & (oo.Gender == 'Men') & (oo.Event == '100m')][["Year", "Athlete Name", "NOC", "Event", "Medal"]]

In [ ]:
first_men_100m[["Year", "Athlete Name", "NOC", "Event", "Medal"]]

## Using String methods

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
oo = (pd.read_csv(filename, skiprows=5)
      .drop('Position', axis=1)
)
oo.head(3)

In [ ]:
oo["Athlete Name"].str.lower()

In [ ]:
oo.Event.unique()

In [ ]:
oo.Event.str.capitalize()

In [ ]:
oo.Event = oo.Event.str.capitalize()
oo.Event.unique()

In [ ]:
dir(oo.Event.str)

In [ ]:
oo["Athlete Name"].str.contains("Latynina")

In [ ]:
# Larisa Latynina - most decorated Female athlete
oo[oo["Athlete Name"].str.contains("Latynina")]

In [ ]:
oo[oo["Athlete Name"].str.contains("LATYNINA")]

In [ ]:
dir(oo.Event.str)

In [ ]:
oo.City = oo.City.str.upper()
oo.sample(3)

In [ ]:
oo.City.unique()

## Sorting a DataFrame or Series

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
oo = (pd.read_csv(filename, skiprows=5)
      .drop('Position', axis=1)
)
oo.sample(3)

In [ ]:
oo["Athlete Name"].sort_values()

In [ ]:
type(oo["Athlete Name"].sort_values())

In [ ]:
oo.sort_values("Athlete Name")

In [ ]:
type(oo.sort_values("Athlete Name"))

In [ ]:
oo.head(3)

In [ ]:
oo.sort_values("Athlete Name", ascending=False)

In [ ]:
oo.sort_values("Athlete Name", ascending=False).head(25)

In [ ]:
oo.sort_values(by=['Year','Athlete Name'])

In [ ]:
oo.sort_values(by=["Year", "Athlete Name"], ascending=[False, True])

In [ ]:
oo.head(7)

In [ ]:
oo.sort_values(by=["Year", "Event", "Medal"], ascending=[True, True, False]).head(7)

In [ ]:
oo.dtypes

## Working with data types (dtype)

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
oo = (pd.read_csv(filename, skiprows=5)
      .drop('Position', axis=1)
)
oo.sample(3)

In [ ]:
oo.dtypes

In [ ]:
oo.Medal.unique()

In [ ]:
oo.Medal = oo.Medal.astype("category")
oo.dtypes

In [ ]:
oo.Gender.unique()

In [ ]:
oo['Event Gender'].unique()

In [ ]:
oo.Gender = oo.Gender.astype("category")
oo['Event Gender'] = oo['Event Gender'].astype("category")
oo.dtypes

In [ ]:
oo.Medal.astype("category")

In [ ]:
pd.Categorical?

In [ ]:
medal_order = ["Bronze", "Silver", "Gold"]
pd.Categorical(oo.Medal, categories=medal_order, ordered=True)

In [ ]:
oo.Medal = pd.Categorical(oo.Medal, categories=medal_order, ordered=True)
oo.dtypes

In [ ]:
oo.Medal

In [ ]:
oo.sort_values(by=["Year", "Event", "Medal"], ascending=[True, True, False]).head(7)

## Memory usage of different dtypes

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
df = pd.read_csv(filename, skiprows=5)
df.dtypes

In [ ]:
oo.dtypes

In [ ]:
oo.Medal.memory_usage?

In [ ]:
print(f"Medal series memory usage using dtype category: {oo.Medal.memory_usage(deep=True)}")
print(f"Medal series memory usage using dtype object: {df.Medal.memory_usage(deep=True)}")

In [ ]:
oo.Medal.memory_usage(deep=True) / df.Medal.memory_usage(deep=True)

In [ ]:
print(f"Gender series memory usage using dtype category: {oo.Gender.memory_usage(deep=True)}")
print(f"Gender series memory usage using dtype object: {df.Gender.memory_usage(deep=True)}")
print(f"Gender series memory usage using dtype category: {oo['Event Gender'].memory_usage(deep=True)}")
print(f"Gender series memory usage using dtype object: {df['Event Gender'].memory_usage(deep=True)}")

In [ ]:
oo.City.astype("string")

In [ ]:
oo.sample(2)

In [ ]:
oo.dtypes

In [ ]:
oo.City = oo.City.astype("string")
oo.Sport = oo.Sport.astype("string")
oo.Discipline = oo.Discipline.astype("string")
oo["Athlete Name"] = oo["Athlete Name"].astype("string")
oo.NOC = oo.NOC.astype("string")
oo.Event = oo.Event.astype("string")
oo.dtypes

In [ ]:
oo.City.dtype

In [ ]:
df.City.dtype

In [ ]:
print(f"City series memory usage using dtype string: {oo.City.memory_usage(deep=True)}")
print(f"City series memory usage using dtype object: {df.City.memory_usage(deep=True)}")

## Defining dtypes when you read in a file

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
oo = (pd.read_csv(filename, skiprows=5)
      .drop('Position', axis=1)
)
oo.sample(3)

In [ ]:
oo.dtypes

In [ ]:
dtype_mapper = {"Year": "int64",
                "City": "string",
                "Sport": "string",
                "Discipline": "string",
                "Athlete Name": "string",
                "NOC": "string",
                "Gender": "category",
                "Event": "string",
                "Event_gender": "category",
                "Medal": "category"}

dtype_mapper

In [ ]:
pd.api.types.CategoricalDtype?

In [ ]:
ordered_medals = pd.api.types.CategoricalDtype(categories=["Bronze", "Silver", "Gold"], ordered=True)
ordered_medals

In [ ]:
dtype_mapper = {"Year": "int64",
                "City": "string",
                "Sport": "string",
                "Discipline": "string",
                "Athlete Name": "string",
                "NOC": "string",
                "Gender": "category",
                "Event": "string",
                "Event_gender": "category",
                "Medal": ordered_medals}

dtype_mapper

In [ ]:
oo = pd.read_csv(filename, skiprows=5, dtype=dtype_mapper)
oo.sample(3)

In [ ]:
oo.dtypes

In [ ]:
oo["Event Gender"].unique()

In [ ]:
oo = pd.read_csv(filename, skiprows=5, dtype=dtype_mapper)
oo['Event Gender'] = oo['Event Gender'].astype("category")
oo.dtypes

## Python Functions

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
def show_df(filename="olympics_1896_2004.csv"):
  """Read in csv file and display DataFrame"""
  df = pd.read_csv(filename, skiprows=5)
  return df

show_df()

In [ ]:
type(show_df())

In [ ]:
ordered_medals = pd.api.types.CategoricalDtype(categories=["Bronze", "Silver", "Gold"], ordered=True)
dtype_mapper = {"Year": "int64",
                "City": "string",
                "Sport": "string",
                "Discipline": "string",
                "Athlete Name": "string",
                "NOC": "string",
                "Gender": "category",
                "Event": "string",
                "Event_gender": "category",
                "Medal": ordered_medals}

dtype_mapper

In [ ]:
oo = (pd.read_csv(filename, skiprows=5, dtype=dtype_mapper)
      .drop('Position', axis=1)
)
oo.sample(3)

In [ ]:
def preprocess(filename = "olympics_1896_2004.csv"):
  """Preparing and transforming dataframe"""
  print(f"Preprocessing {filename} ...\n")
  ordered_medals = pd.api.types.CategoricalDtype(categories=["Bronze", "Silver", "Gold"], ordered=True)
  dtype_mapper = {"Year": "int64",
                "City": "string",
                "Sport": "string",
                "Discipline": "string",
                "Athlete Name": "string",
                "NOC": "string",
                "Gender": "category",
                "Event": "string",
                "Event_gender": "category",
                "Medal": ordered_medals}
  df = (pd.read_csv(filename, skiprows=5, dtype=dtype_mapper)
        .drop('Position', axis=1)
  )

  return df

preprocess()

In [ ]:
preprocess()

In [ ]:
oo = preprocess()
oo.sample(3)

In [ ]:
oo.dtypes

In [ ]:
oo["Event Gender"].unique()

In [ ]:
def preprocess(filename = "olympics_1896_2004.csv"):
  """Preparing and transforming dataframe"""
  print(f"Preprocessing {filename} ...\n")
  ordered_medals = pd.api.types.CategoricalDtype(categories=["Bronze", "Silver", "Gold"], ordered=True)
  dtype_mapper = {"Year": "int64",
                "City": "string",
                "Sport": "string",
                "Discipline": "string",
                "Athlete Name": "string",
                "NOC": "string",
                "Gender": "category",
                "Event": "string",
                "Event_gender": "category",
                "Medal": ordered_medals}
  df = (pd.read_csv(filename, skiprows=5, dtype=dtype_mapper)
        .drop('Position', axis=1)
  )
  df["Event Gender"] = df["Event Gender"].astype("category")
  return df

oo = preprocess()
oo.sample(3)

In [ ]:
oo.dtypes

## Working with Indexes

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
def preprocess(filename = "olympics_1896_2004.csv"):
  """Preparing and transforming dataframe"""
  print(f"Preprocessing {filename} ...\n")
  ordered_medals = pd.api.types.CategoricalDtype(categories=["Bronze", "Silver", "Gold"], ordered=True)
  dtype_mapper = {"Year": "int64",
                "City": "string",
                "Sport": "string",
                "Discipline": "string",
                "Athlete Name": "string",
                "NOC": "string",
                "Gender": "category",
                "Event": "string",
                "Event_gender": "category",
                "Medal": ordered_medals}
  df = (pd.read_csv(filename, skiprows=5, dtype=dtype_mapper)
        .drop('Position', axis=1)
  )
  df["Event Gender"] = df["Event Gender"].astype("category")
  return df

oo = preprocess()
oo.head(5)

In [ ]:
oo.index

In [ ]:
oo.columns

In [ ]:
oo.shape

In [ ]:
pd.read_csv(filename, skiprows=5, header=None).head()

In [ ]:
oo = preprocess()
oo.head(5)

In [ ]:
oo[oo['Athlete Name'].str.contains("LEWIS, Carl")]

In [ ]:
oo.loc[22719, "Event"]

In [ ]:
oo = oo.set_index("Athlete Name")
oo.head(5)

In [ ]:
oo.index

In [ ]:
oo.loc["LEWIS, Carl", "Event"]

In [ ]:
oo.head(3)

In [ ]:
oo.columns

In [ ]:
oo.shape

In [ ]:
oo.head(3)

In [ ]:
oo.loc["LEWIS, Carl", ["Year", "Event", "Medal"]]

In [ ]:
oo.loc["LEWIS, Carl", :]

In [ ]:
oo.loc["LEWIS, Carl"]

In [ ]:
oo = oo.sort_index()
oo.head(3)

In [ ]:
oo = oo.reset_index()
oo.head(3)

In [ ]:
oo.iloc[0, 0]

In [ ]:
oo.iloc[0, 5]

In [ ]:
oo.iloc[0, :]

In [ ]:
oo.iloc[0]

## Being Productive in Pandas - My Best Practices

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
def preprocess(filename = "olympics_1896_2004.csv"):
  """Preparing and transforming dataframe"""
  print(f"Preprocessing {filename} ...\n")
  ordered_medals = pd.api.types.CategoricalDtype(categories=["Bronze", "Silver", "Gold"], ordered=True)
  dtype_mapper = {"Year": "int64",
                "City": "string",
                "Sport": "string",
                "Discipline": "string",
                "Athlete Name": "string",
                "NOC": "string",
                "Gender": "category",
                "Event": "string",
                "Event_gender": "category",
                "Medal": ordered_medals}
  df = (pd.read_csv(filename, skiprows=5, dtype=dtype_mapper)
        .drop('Position', axis=1)
  )
  df["Event Gender"] = df["Event Gender"].astype("category")
  return df

oo = preprocess()
oo.sample(3)

**Get immediate feedback**

In [ ]:
oo = preprocess()

In [ ]:
oo.sample(3)

In [ ]:
oo = preprocess()
oo.sample(3)

**Understand the basics of Python**

In [ ]:
dir(pd)

In [ ]:
[func.upper() for func in dir(pd)]

**Searching for method names**

In [ ]:
import re
import pandas as pd

search_string = "excel"

[func for func in dir(pd) if re.search(rf"{search_string}", func, re.IGNORECASE)]

In [ ]:
pd.read_excel?

In [ ]:
[func
 for func in dir(pd)
 if re.search(rf"{search_string}", func, re.IGNORECASE)]

**Documentation while staying in the IDE**

In [ ]:
pd.read_excel?

**head() vs. sample()**

In [ ]:
oo = (pd.read_csv(filename, skiprows=5)
      .drop('Position', axis=1)
)
oo.sample(3)

**Functions to preprocess data. Modify the data, not the original files**

In [ ]:
def preprocess(filename):
  """Transform the data. Change the dataframe and not the original csv files"""
  ...

preprocess(filename)

**Using python assert**

In [ ]:
oo[(oo.Year < 1896) & (oo.Year > 2004)].shape

In [ ]:
oo[(oo.Year < 1896) & (oo.Year > 2004)].shape[0] == 0

In [ ]:
assert(oo[(oo.Year < 1896) & (oo.Year > 2004)].shape[0] == 0)

In [ ]:
assert(oo[(oo.Year < 1896) & (oo.Year > 2004)].shape[0] == 0)
print("All tests passed")

In [ ]:
assert(oo[(oo.Year < 1896) & (oo.Year > 2004)].shape[0] == (0, 10))
print("All tests passed")

**Chaining and splitting over several rows. No inplace=True**

In [ ]:
oo = pd.read_csv(filename, skiprows=5)
oo = oo.drop('Position', axis=1)
oo.head(3)

In [ ]:
oo = (pd.read_csv(filename, skiprows=5)
      .drop('Position', axis=1)
)
oo.head(3)

In [ ]:
last3 = pd.read_csv(filename, skiprows=5).sort_values(['Year', 'Athlete Name']).tail(3)
last3

In [ ]:
last3 = (pd.read_csv(filename, skiprows=5)
        .sort_values(['Year', 'Athlete Name'])
        .tail(3)
)
last3

In [ ]:
last3 = (pd.read_csv(filename, skiprows=5)
#        .sort_values(['Year', 'Athlete Name'])
        .tail(3)
)
last3

**isin()**

In [ ]:
oo.Year.isin?

In [ ]:
years_of_interest = [1972, 1980, 1984, 1992, 2000, 2004]

In [ ]:
oo[oo.Year.isin(years_of_interest)]

In [ ]:
oo[~oo.Year.isin(years_of_interest)]

**Finding and dealing with missing values**

In [ ]:
oo.info()

## Creating Series and DataFrames

In [ ]:
import pandas as pd

In [ ]:
city = ["London", "Rio", "Tokyo"]
start_date = ["27th Jul, 2012", "5th Aug, 2016", "23rd July, 2021"]

In [ ]:
pd.Series(city)

In [ ]:
pd.DataFrame({"City": pd.Series(city),
              "Start Date": pd.Series(start_date)})

In [ ]:
pd.DataFrame({"City": city,
              "Start Date": start_date})

In [ ]:
pd.DataFrame(zip(city, start_date))

In [ ]:
pd.DataFrame(zip(city, start_date), columns=["City", "Start Date"])

## Working with dates

In [ ]:
import pandas as pd

In [ ]:
city = ["London", "Rio", "Tokyo"]
start_date = ["07-27-2012", "5th Aug, 2016", "23rd Jul, 2021"]
end_date = ["12th Aug, 2012", "21-08-2016", "8th Aug, 2021"]

In [ ]:
games = pd.DataFrame(zip(city, start_date, end_date), columns=["City", "Start Date", "End Date"])
games

In [ ]:
games.dtypes

In [ ]:
import re
import pandas as pd

search_string = "date"

[func for func in dir(pd) if re.search(rf"{search_string}", func, re.IGNORECASE)]

In [ ]:
pd.to_datetime?

In [ ]:
#pd.to_datetime(games["Start Date"])

In [ ]:
pd.to_datetime(games["Start Date"], format='mixed')

In [ ]:
games["Start Date"] = pd.to_datetime(games["Start Date"], format='mixed')
games["End Date"] = pd.to_datetime(games["End Date"], format='mixed')
games["City"] = games.City.astype("string")
games

In [ ]:
games.dtypes

In [ ]:
games["End Date"]

In [ ]:
games["Start Date"]

In [ ]:
games["End Date"] - games["Start Date"]

In [ ]:
games = games.assign(duration=games["End Date"] - games["Start Date"])
games

In [ ]:
games.dtypes

## Combining DataFrames

In [ ]:
import pandas as pd

In [ ]:
start = pd.DataFrame({"city": ["London", "Rio", "Tokyo"],
                      "start_date": ["27th Jul, 2012", "5th Aug, 2016", "23rd July, 2021"]})
start

In [ ]:
end = pd.DataFrame({"City": ["London", "Tokyo", "Paris"],
                    "end_date": ["12th Aug, 2012", "8th Aug, 2021", "11th Aug, 2024"]})
end

In [ ]:
pd.concat?

In [ ]:
pd.concat([start, end], axis=0)

In [ ]:
end = pd.DataFrame({"city": ["London", "Tokyo", "Paris"],
                    "end_date": ["12th Aug, 2012", "8th Aug, 2021", "11th Aug, 2024"]})
end

In [ ]:
pd.concat([start, end], axis=0)

In [ ]:
pd.concat([start, end], axis=1)

**Inner join**

In [ ]:
start

In [ ]:
end

In [ ]:
pd.merge?

In [ ]:
pd.merge(left=start, right=end, on="city", how="inner")

**Outer join**

In [ ]:
start

In [ ]:
end

In [ ]:
pd.merge(left=start, right=end, on="city", how="outer")

**Left join**

In [ ]:
start

In [ ]:
pd.merge(left=start, right=end, on="city", how="left")

**Right join**

In [ ]:
end

In [ ]:
pd.merge(left=start, right=end, on="city", how="right")

## Combining Datasets

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
def preprocess(filename = "olympics_1896_2004.csv"):
  """Preparing and transforming dataframe"""
  print(f"Preprocessing {filename} ...\n")
  ordered_medals = pd.api.types.CategoricalDtype(categories=["Bronze", "Silver", "Gold"], ordered=True)
  dtype_mapper = {"Year": "int64",
                "City": "string",
                "Sport": "string",
                "Discipline": "string",
                "Athlete Name": "string",
                "NOC": "string",
                "Gender": "category",
                "Event": "string",
                "Event_gender": "category",
                "Medal": ordered_medals}
  df = (pd.read_csv(filename, skiprows=5, dtype=dtype_mapper)
        .drop('Position', axis=1)
  )
  df["Event Gender"] = df["Event Gender"].astype("category")
  return df

preprocess()

In [ ]:
oo = preprocess()
oo.sample(3)

In [ ]:
!wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_2008.csv

In [ ]:
new_filename =  "olympics_2008.csv"
nw = pd.read_csv(new_filename)
nw.head(5)

In [ ]:
oo.sample(3)

In [ ]:
pd.concat([oo, nw], axis=0)

In [ ]:
nw.columns

In [ ]:
oo.columns

In [ ]:
nw.columns = ['City', 'Edition', 'Sport', 'Discipline', 'Athlete', 'Country_code',
       'Gender', 'Event', 'Event_gender', 'Medal', 'Result']
nw.columns

In [ ]:
new_columns = ['City', 'Edition', 'Sport', 'Discipline', 'Athlete', 'Country_code',
       'Gender', 'Event', 'Event_gender', 'Medal', 'Result']

In [ ]:
nw = pd.read_csv(new_filename, names=new_columns)
nw.columns

In [ ]:
nw.columns = [column.capitalize() for column in nw.columns]
nw.columns

In [ ]:
pd.concat([oo, nw], axis=0)

In [ ]:
oo.columns

In [ ]:
nw.columns

In [ ]:
nw.columns = ['City', 'Year', 'Sport', 'Discipline', 'Athlete Name', 'NOC',
       'Gender', 'Event', 'Event Gender', 'Medal', 'Result']

In [ ]:
pd.concat([oo, nw], axis=0)

In [ ]:
nw.Result.unique()

In [ ]:
nw = nw.drop("Result", axis=1)
nw.sample(3)

In [ ]:
pd.concat([oo, nw], axis=0)

In [ ]:
pd.concat([oo, nw], axis=0).dtypes

In [ ]:
def preprocess_2008(filename="olympics_2008.csv"):
  df = pd.read_csv(filename)
  df.columns = ['City', 'Year', 'Sport', 'Discipline', 'Athlete Name', 'NOC',
       'Gender', 'Event', 'Event Gender', 'Medal', 'Result']
  df = df.drop("Result", axis=1)
  return df

nw = preprocess_2008()
nw.sample(3)

## Working with Missing Data

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv
if not Path("olympics_2008.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_2008.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
nw = preprocess_2008()
nw.sample(3)

In [ ]:
nw.info()

In [ ]:
import re

search_string = "na"

[func for func in dir(nw.City) if re.search(rf"{search_string}$", func, re.IGNORECASE)]

In [ ]:
nw.City.isna?

In [ ]:
nw.City.isna()

In [ ]:
nw.City.isna().sum()

In [ ]:
nw[nw.City.isna()]

In [ ]:
nw.City.unique()

In [ ]:
nw.shape

In [ ]:
import re

search_string = "na"

[func for func in dir(nw.City) if re.search(rf"{search_string}$", func, re.IGNORECASE)]

In [ ]:
nw.City.fillna?

In [ ]:
nw.City = nw.City.fillna(value="Beijing")
nw.City.unique()

In [ ]:
nw.Year

In [ ]:
nw.Year.unique()

In [ ]:
nw.Year = nw.Year.fillna(value=2008)
nw.info()

In [ ]:
def preprocess_2008(filename="olympics_2008.csv"):
  df = pd.read_csv(filename)
  df.columns = ['City', 'Year', 'Sport', 'Discipline', 'Athlete Name', 'NOC',
       'Gender', 'Event', 'Event Gender', 'Medal', 'Result']
  df = df.drop("Result", axis=1)
  df.City = df.City.fillna(value="Beijing")
  df.Year = df.Year.fillna(value=2008)
  return df

nw = preprocess_2008()
nw.sample(3)

In [ ]:
nw.dtypes

## Removing Missing Data

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv
if not Path("olympics_2008.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_2008.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
def preprocess_2008(filename="olympics_2008.csv"):
  df = pd.read_csv(filename)
  df.columns = ['City', 'Year', 'Sport', 'Discipline', 'Athlete Name', 'NOC',
       'Gender', 'Event', 'Event Gender', 'Medal', 'Result']
  df = df.drop("Result", axis=1)
  df.City = df.City.fillna(value="Beijing")
  df.Year = df.Year.fillna(value=2008)
  return df

nw = preprocess_2008()
nw.sample(3)

In [ ]:
nw.info()

In [ ]:
nw[nw.Sport.isna()]

In [ ]:
nw.dropna(how="all", axis=0)

In [ ]:
nw.dropna(how="any", axis=0)

In [ ]:
nw[nw.Sport.isna()]

In [ ]:
nw.dropna?

In [ ]:
nw.columns

In [ ]:
nw.dropna(subset=['Sport', 'Discipline', 'Athlete Name', 'NOC', 'Gender',
       'Event', 'Event Gender', 'Medal'], how="all")

In [ ]:
nw = nw.dropna(subset=['Sport', 'Discipline', 'Athlete Name', 'NOC', 'Gender',
       'Event', 'Event Gender', 'Medal'], how="all")
nw.info()

In [ ]:
def preprocess_2008(filename="olympics_2008.csv"):
  df = pd.read_csv(filename)
  df.columns = ['City', 'Year', 'Sport', 'Discipline', 'Athlete Name', 'NOC',
       'Gender', 'Event', 'Event Gender', 'Medal', 'Result']
  df = df.drop("Result", axis=1)
  df.City = df.City.fillna(value="Beijing")
  df.Year = df.Year.fillna(value=2008)
  df = df.dropna(subset=['Sport', 'Discipline', 'Athlete Name', 'NOC', 'Gender',
       'Event', 'Event Gender', 'Medal'], how="all")
  return df

nw = preprocess_2008()
nw.sample(3)

##Working with Duplicates

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv
if not Path("olympics_2008.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_2008.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
def preprocess_2008(filename="olympics_2008.csv"):
  df = pd.read_csv(filename)
  df.columns = ['City', 'Year', 'Sport', 'Discipline', 'Athlete Name', 'NOC',
       'Gender', 'Event', 'Event Gender', 'Medal', 'Result']
  df = df.drop("Result", axis=1)
  df.City = df.City.fillna(value="Beijing")
  df.Year = df.Year.fillna(value=2008)
  df = df.dropna(subset=['Sport', 'Discipline', 'Athlete Name', 'NOC', 'Gender',
       'Event', 'Event Gender', 'Medal'], how="all")
  return df

nw = preprocess_2008()
nw.sample(3)

In [ ]:
nw.shape

In [ ]:
nw.duplicated?

In [ ]:
nw.duplicated()

In [ ]:
nw.duplicated().sum()

In [ ]:
nw.loc[nw.duplicated(), :]

In [ ]:
nw.shape

In [ ]:
nw = nw.drop_duplicates()
nw.shape

In [ ]:
nw.columns

In [ ]:
athlete_multiple_events = nw.duplicated(subset=['Athlete Name', 'NOC', 'Gender'])
athlete_multiple_events

In [ ]:
nw.duplicated?

In [ ]:
nw.loc[athlete_multiple_events, :]

In [ ]:
nw.loc[athlete_multiple_events, :].sort_values("Athlete Name")

In [ ]:
nw.loc[nw["Athlete Name"] == "ZOU, Kai"]

In [ ]:
def preprocess_2008(filename="olympics_2008.csv"):
  df = pd.read_csv(filename)
  df.columns = ['City', 'Year', 'Sport', 'Discipline', 'Athlete Name', 'NOC',
       'Gender', 'Event', 'Event Gender', 'Medal', 'Result']
  df = df.drop("Result", axis=1)
  df.City = df.City.fillna(value="Beijing")
  df.Year = df.Year.fillna(value=2008)
  df = df.dropna(subset=['Sport', 'Discipline', 'Athlete Name', 'NOC', 'Gender',
       'Event', 'Event Gender', 'Medal'], how="all")
  df = df.drop_duplicates()
  return df

nw = preprocess_2008()
nw.sample(3)

## Validating data

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv
if not Path("olympics_2008.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_2008.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
def preprocess(filename = "olympics_1896_2004.csv"):
  """Preparing and transforming dataframe"""
  print(f"Preprocessing {filename} ...\n")
  ordered_medals = pd.api.types.CategoricalDtype(categories=["Bronze", "Silver", "Gold"], ordered=True)
  dtype_mapper = {"Year": "int64",
                "City": "string",
                "Sport": "string",
                "Discipline": "string",
                "Athlete Name": "string",
                "NOC": "string",
                "Gender": "category",
                "Event": "string",
                "Event_gender": "category",
                "Medal": ordered_medals}
  df = (pd.read_csv(filename, skiprows=5, dtype=dtype_mapper)
        .drop('Position', axis=1)
  )
  df["Event Gender"] = df["Event Gender"].astype("category")
  return df

oo = preprocess()

def preprocess_2008(filename="olympics_2008.csv"):
  df = pd.read_csv(filename)
  df.columns = ['City', 'Year', 'Sport', 'Discipline', 'Athlete Name', 'NOC',
       'Gender', 'Event', 'Event Gender', 'Medal', 'Result']
  df = df.drop("Result", axis=1)
  df.City = df.City.fillna(value="Beijing")
  df.Year = df.Year.fillna(value=2008)
  df = df.dropna(subset=['Sport', 'Discipline', 'Athlete Name', 'NOC', 'Gender',
       'Event', 'Event Gender', 'Medal'], how="all")
  df = df.drop_duplicates()
  return df

nw = preprocess_2008()
nw.sample(3)

In [ ]:
nw["Event Gender"].unique()

In [ ]:
nw.Gender.unique()

In [ ]:
nw.loc[(nw["Event Gender"] == "M") & (nw.Gender != "Men")]

In [ ]:
nw.loc[(nw["Event Gender"] == "F") & (nw.Gender != "Women")]

In [ ]:
nw.loc[(nw.Gender == "Women") & ((nw["Event Gender"] != "W") & (nw["Event Gender"] != "X"))]

In [ ]:
nw.loc[(nw.Gender == "Men") & ((nw["Event Gender"] != "M") & (nw["Event Gender"] != "X"))]

In [ ]:
oo["Event Gender"].unique()

In [ ]:
oo.Gender.unique()

In [ ]:
oo.loc[(oo["Event Gender"] == "M") & (oo.Gender != "Men")]

In [ ]:
oo.loc[(oo["Event Gender"] == "F") & (oo.Gender != "Women")]

In [ ]:
oo.loc[(oo.Gender == "Women") & ((oo["Event Gender"] != "W") & (oo["Event Gender"] != "X"))]

In [ ]:
oo.loc[(oo.Gender == "Men") & ((oo["Event Gender"] != "M") & (oo["Event Gender"] != "X"))]

In [ ]:
oo.loc[(oo.Year == 2000) & (oo.Event == "marathon")]

In [ ]:
oo.loc[24676, "Gender"] = "Women"
oo.loc[(oo.Year == 2000) & (oo.Event == "marathon")]

In [ ]:
def preprocess(filename = "olympics_1896_2004.csv"):
  """Preparing and transforming dataframe"""
  print(f"Preprocessing {filename} ...\n")
  ordered_medals = pd.api.types.CategoricalDtype(categories=["Bronze", "Silver", "Gold"], ordered=True)
  dtype_mapper = {"Year": "int64",
                "City": "string",
                "Sport": "string",
                "Discipline": "string",
                "Athlete Name": "string",
                "NOC": "string",
                "Gender": "category",
                "Event": "string",
                "Event_gender": "category",
                "Medal": ordered_medals}
  df = (pd.read_csv(filename, skiprows=5, dtype=dtype_mapper)
        .drop('Position', axis=1)
  )
  df["Event Gender"] = df["Event Gender"].astype("category")
  df.loc[24676, "Gender"] = "Women"
  return df

oo = preprocess()
oo.sample(3)

In [ ]:
oo.dtypes

In [ ]:
nw.Year.unique()

In [ ]:
nw.City.unique()

In [ ]:
nw["Event Gender"].unique()

In [ ]:
nw["Event Gender"].unique().tolist()

In [ ]:
oo["Event Gender"].unique().tolist()

In [ ]:
nw["Event Gender"].unique().tolist() == oo["Event Gender"].unique().tolist()

In [ ]:
sorted(nw["Event Gender"].unique().tolist())

In [ ]:
sorted(oo["Event Gender"].unique().tolist())

In [ ]:
assert(sorted(nw["Event Gender"].unique().tolist()) == sorted(oo["Event Gender"].unique().tolist()))
print("Passes all tests ...")

In [ ]:
assert(sorted(nw["Event Gender"].unique().tolist()) == sorted(oo["Event Gender"].unique().tolist()))
assert(sorted(nw.Gender.unique().tolist()) == sorted(oo.Gender.unique().tolist()))
assert(sorted(nw.Medal.unique().tolist()) == sorted(oo.Medal.unique().tolist()))
print("Passes all tests ...")

In [ ]:
sorted(oo.Medal.unique().tolist())

In [ ]:
sorted(nw.Medal.unique().tolist())

In [ ]:
nw.Medal.str.capitalize()

In [ ]:
nw.Medal = nw.Medal.str.capitalize()
nw.sample(3)

In [ ]:
assert(sorted(nw["Event Gender"].unique().tolist()) == sorted(oo["Event Gender"].unique().tolist()))
assert(sorted(nw.Gender.unique().tolist()) == sorted(oo.Gender.unique().tolist()))
assert(sorted(nw.Medal.unique().tolist()) == sorted(oo.Medal.unique().tolist()))
print("Passes all tests ...")

In [ ]:
sorted(nw.Sport.unique().tolist())

In [ ]:
sorted(oo.Sport.unique().tolist())

In [ ]:
nw.NOC.unique()

In [ ]:
nw.Sport = nw.Sport.str.lower()
nw.Discipline = nw.Discipline.str.lower()
nw.Event = nw.Event.str.lower()
nw.NOC = nw.NOC.str.upper()
nw.sample(3)

In [ ]:
def preprocess_2008(filename="olympics_2008.csv"):
  df = pd.read_csv(filename)
  df.columns = ['City', 'Year', 'Sport', 'Discipline', 'Athlete Name', 'NOC',
       'Gender', 'Event', 'Event Gender', 'Medal', 'Result']
  df = df.drop("Result", axis=1)
  df.City = df.City.fillna(value="Beijing")
  df.Year = df.Year.fillna(value=2008)
  df = df.dropna(subset=['Sport', 'Discipline', 'Athlete Name', 'NOC', 'Gender',
       'Event', 'Event Gender', 'Medal'], how="all")
  df = df.drop_duplicates()
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  df.Medal = df.Medal.str.capitalize()
  return df

nw = preprocess_2008()
nw.sample(3)

## Further Data Validation

In [ ]:
def preprocess(filename = "olympics_1896_2004.csv"):
  """Preparing and transforming dataframe"""
  print(f"Preprocessing {filename} ...\n")
  ordered_medals = pd.api.types.CategoricalDtype(categories=["Bronze", "Silver", "Gold"], ordered=True)
  dtype_mapper = {"Year": "int64",
                "City": "string",
                "Sport": "string",
                "Discipline": "string",
                "Athlete Name": "string",
                "NOC": "string",
                "Gender": "category",
                "Event": "string",
                "Event_gender": "category",
                "Medal": ordered_medals}
  df = (pd.read_csv(filename, skiprows=5, dtype=dtype_mapper)
        .drop('Position', axis=1)
  )
  df["Event Gender"] = df["Event Gender"].astype("category")
  return df

oo = preprocess()

def preprocess_2008(filename="olympics_2008.csv"):
  df = pd.read_csv(filename)
  df.columns = ['City', 'Year', 'Sport', 'Discipline', 'Athlete Name', 'NOC',
       'Gender', 'Event', 'Event Gender', 'Medal', 'Result']
  df = df.drop("Result", axis=1)
  df.City = df.City.fillna(value="Beijing")
  df.Year = df.Year.fillna(value=2008)
  df = df.dropna(subset=['Sport', 'Discipline', 'Athlete Name', 'NOC', 'Gender',
       'Event', 'Event Gender', 'Medal'], how="all")
  df = df.drop_duplicates()
  return df

nw = preprocess_2008()
nw.sample(3)

In [ ]:
medals = ['Gold', 'Silver', 'Bronze', 'Bronze', 'Gold']
medals

In [ ]:
medals[0]

In [ ]:
medals[1]

In [ ]:
len(medals)

In [ ]:
nw["Athlete Name"]

In [ ]:
import re

search_string = "split"

[func for func in dir(nw["Athlete Name"].str) if re.search(rf"{search_string}", func, re.IGNORECASE)]

In [ ]:
nw["Athlete Name"].str.split?

In [ ]:
nw["Athlete Name"].str.split(", ")

In [ ]:
nw["Athlete Name"].str.split(", ").tolist()

In [ ]:
athlete_names = nw["Athlete Name"].str.split(", ").tolist()
athlete_names

In [ ]:
import re

search_string = "upper"

[func for func in dir(nw["Athlete Name"].str) if re.search(rf"{search_string}", func, re.IGNORECASE)]

In [ ]:
[athlete_name for athlete_name in athlete_names]

In [ ]:
[athlete_name[0] for athlete_name in athlete_names]

In [ ]:
[athlete_name[0].isupper() for athlete_name in athlete_names]

In [ ]:
len([item[0].isupper() for item in athlete_names])

In [ ]:
nw.info()

##Updating the dtypes

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv
if not Path("olympics_2008.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_2008.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
def preprocess(filename = "olympics_1896_2004.csv"):
  """Preparing and transforming dataframe"""
  print(f"Preprocessing {filename} ...\n")
  ordered_medals = pd.api.types.CategoricalDtype(categories=["Bronze", "Silver", "Gold"], ordered=True)
  dtype_mapper = {"Year": "int64",
                "City": "string",
                "Sport": "string",
                "Discipline": "string",
                "Athlete Name": "string",
                "NOC": "string",
                "Gender": "category",
                "Event": "string",
                "Event_gender": "category",
                "Medal": ordered_medals}
  df = (pd.read_csv(filename, skiprows=5, dtype=dtype_mapper)
        .drop('Position', axis=1)
  )
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  df["Event Gender"] = df["Event Gender"].astype("category")
  df.loc[24676, "Gender"] = "Women"
  return df

def preprocess_2008(filename="olympics_2008.csv"):
  df = pd.read_csv(filename)
  df.columns = ['City', 'Year', 'Sport', 'Discipline', 'Athlete Name', 'NOC',
       'Gender', 'Event', 'Event Gender', 'Medal', 'Result']
  df = df.drop("Result", axis=1)
  df.City = df.City.fillna(value="Beijing")
  df.Year = df.Year.fillna(value=2008)
  df = df.dropna(subset=['Sport', 'Discipline', 'Athlete Name', 'NOC', 'Gender',
       'Event', 'Event Gender', 'Medal'], how="all")
  df = df.drop_duplicates()
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  df.Medal = df.Medal.str.capitalize()
  return df

oo = preprocess()
nw = preprocess_2008()
nw.sample(3)

In [ ]:
nw.dtypes

In [ ]:
oo.dtypes

In [ ]:
def preprocess_2008(filename="olympics_2008.csv"):
  print(f"Preprocessing {filename} ...\n")
  df = pd.read_csv(filename)
  df.columns = ['City', 'Year', 'Sport', 'Discipline', 'Athlete Name', 'NOC',
       'Gender', 'Event', 'Event Gender', 'Medal', 'Result']
  df = df.drop("Result", axis=1)
  df.City = df.City.fillna(value="Beijing")
  df.Year = df.Year.fillna(value=2008)
  df = df.dropna(subset=['Sport', 'Discipline', 'Athlete Name', 'NOC', 'Gender',
       'Event', 'Event Gender', 'Medal'], how="all")
  df = df.drop_duplicates()
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  df.Medal = df.Medal.str.capitalize()
  df.City = df.City.astype("string")
  df.Year = df.Year.astype(int)
  df.Sport = df.Sport.astype("string")
  df.Discipline = df.Discipline.astype("string")
  df["Athlete Name"] = df["Athlete Name"].astype("string")
  df.NOC = df.NOC.astype("string")
  df.Gender = df.Gender.astype("category")
  df.Event = df.Event.astype("string")
  df['Event Gender'] = df['Event Gender'].astype("category")
  medal_order = ["Bronze", "Silver", "Gold"]
  df.Medal = pd.Categorical(df.Medal, categories=medal_order, ordered=True)

  return df

nw = preprocess_2008()
nw.sample(3)

In [ ]:
nw.dtypes

## Combine the datasets

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv
if not Path("olympics_2008.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_2008.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
def preprocess(filename = "olympics_1896_2004.csv"):
  """Preparing and transforming dataframe"""
  print(f"Preprocessing {filename} ...\n")
  ordered_medals = pd.api.types.CategoricalDtype(categories=["Bronze", "Silver", "Gold"], ordered=True)
  dtype_mapper = {"Year": "int64",
                "City": "string",
                "Sport": "string",
                "Discipline": "string",
                "Athlete Name": "string",
                "NOC": "string",
                "Gender": "category",
                "Event": "string",
                "Event_gender": "category",
                "Medal": ordered_medals}
  df = (pd.read_csv(filename, skiprows=5, dtype=dtype_mapper)
        .drop('Position', axis=1)
  )
  df["Event Gender"] = df["Event Gender"].astype("category")
  df.loc[24676, "Gender"] = "Women"
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  return df

def preprocess_2008(filename="olympics_2008.csv"):
  print(f"Preprocessing {filename} ...\n")
  df = pd.read_csv(filename)
  df.columns = ['City', 'Year', 'Sport', 'Discipline', 'Athlete Name', 'NOC',
       'Gender', 'Event', 'Event Gender', 'Medal', 'Result']
  df = df.drop("Result", axis=1)
  df.City = df.City.fillna(value="Beijing")
  df.Year = df.Year.fillna(value=2008)
  df = df.dropna(subset=['Sport', 'Discipline', 'Athlete Name', 'NOC', 'Gender',
       'Event', 'Event Gender', 'Medal'], how="all")
  df = df.drop_duplicates()
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  df.Medal = df.Medal.str.capitalize()
  df.City = df.City.astype("string")
  df.Year = df.Year.astype(int)
  df.Sport = df.Sport.astype("string")
  df.Discipline = df.Discipline.astype("string")
  df["Athlete Name"] = df["Athlete Name"].astype("string")
  df.NOC = df.NOC.astype("string")
  df.Gender = df.Gender.astype("category")
  df.Event = df.Event.astype("string")
  df['Event Gender'] = df['Event Gender'].astype("category")
  medal_order = ["Bronze", "Silver", "Gold"]
  df.Medal = pd.Categorical(df.Medal, categories=medal_order, ordered=True)

  return df

In [ ]:
oo = preprocess()
oo.sample(3)

In [ ]:
oo.dtypes

In [ ]:
nw = preprocess_2008()
nw.sample(3)

In [ ]:
nw.dtypes

In [ ]:
pd.concat([oo, nw])

In [ ]:
pd.concat([oo, nw]).dtypes

In [ ]:
up = pd.concat([oo, nw])
up.sample(3)

In [ ]:
up.dtypes

##Plotting data

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt


if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv
if not Path("olympics_2008.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_2008.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
def preprocess(filename = "olympics_1896_2004.csv"):
  """Preparing and transforming dataframe"""
  print(f"Preprocessing {filename} ...\n")
  ordered_medals = pd.api.types.CategoricalDtype(categories=["Bronze", "Silver", "Gold"], ordered=True)
  dtype_mapper = {"Year": "int64",
                "City": "string",
                "Sport": "string",
                "Discipline": "string",
                "Athlete Name": "string",
                "NOC": "string",
                "Gender": "category",
                "Event": "string",
                "Event_gender": "category",
                "Medal": ordered_medals}
  df = (pd.read_csv(filename, skiprows=5, dtype=dtype_mapper)
        .drop('Position', axis=1)
  )
  df["Event Gender"] = df["Event Gender"].astype("category")
  df.loc[24676, "Gender"] = "Women"
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  return df


def preprocess_2008(filename="olympics_2008.csv"):
  print(f"Preprocessing {filename} ...\n")
  df = pd.read_csv(filename)
  df.columns = ['City', 'Year', 'Sport', 'Discipline', 'Athlete Name', 'NOC',
       'Gender', 'Event', 'Event Gender', 'Medal', 'Result']
  df = df.drop("Result", axis=1)
  df.City = df.City.fillna(value="Beijing")
  df.Year = df.Year.fillna(value=2008)
  df = df.dropna(subset=['Sport', 'Discipline', 'Athlete Name', 'NOC', 'Gender',
       'Event', 'Event Gender', 'Medal'], how="all")
  df = df.drop_duplicates()
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  df.Medal = df.Medal.str.capitalize()
  df.City = df.City.astype("string")
  df.Year = df.Year.astype(int)
  df.Sport = df.Sport.astype("string")
  df.Discipline = df.Discipline.astype("string")
  df["Athlete Name"] = df["Athlete Name"].astype("string")
  df.NOC = df.NOC.astype("string")
  df.Gender = df.Gender.astype("category")
  df.Event = df.Event.astype("string")
  df['Event Gender'] = df['Event Gender'].astype("category")
  medal_order = ["Bronze", "Silver", "Gold"]
  df.Medal = pd.Categorical(df.Medal, categories=medal_order, ordered=True)

  return df

oo = preprocess()
nw = preprocess_2008()
up = pd.concat([oo, nw])
up.sample(3)

In [ ]:
import matplotlib.pyplot as plt

**For the first Olympics, how many events were there for each of the different sports? Plot them using different graphs.**

In [ ]:
first_games = up[up.Year == 1896]
first_games

In [ ]:
first_games.Sport.value_counts()

In [ ]:
first_games.Sport.value_counts().plot?

In [ ]:
type(first_games.Sport.value_counts())

In [ ]:
dir(pd.Series)

In [ ]:
pd.Series.plot?

In [ ]:
first_games.Sport.value_counts().plot(kind='line')

In [ ]:
first_games.Sport.value_counts().plot(figsize=(10,3))

In [ ]:
(first_games
 .Sport
 .value_counts()
 .plot(figsize=(10,3))
)

In [ ]:
(first_games
 .Sport
 .value_counts()
 #.plot(figsize=(10,3))
)

In [ ]:
(first_games
 .Sport
 .value_counts()
 .plot(kind='bar')
)

In [ ]:
(first_games
 .Sport
 .value_counts()
 .plot
 .bar()
)

In [ ]:
(first_games
 .Sport
 .value_counts()
 .plot(kind='barh')
)

In [ ]:
(first_games
 .Sport
 .value_counts()
 .plot(kind='barh', color='red')
)

In [ ]:
(first_games
 .Sport
 .value_counts()
 .plot(kind='barh', color=['blue', 'red'])
)

##Working with colormaps and Seaborn

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv
if not Path("olympics_2008.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_2008.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
def preprocess(filename = "olympics_1896_2004.csv"):
  """Preparing and transforming dataframe"""
  print(f"Preprocessing {filename} ...\n")
  ordered_medals = pd.api.types.CategoricalDtype(categories=["Bronze", "Silver", "Gold"], ordered=True)
  dtype_mapper = {"Year": "int64",
                "City": "string",
                "Sport": "string",
                "Discipline": "string",
                "Athlete Name": "string",
                "NOC": "string",
                "Gender": "category",
                "Event": "string",
                "Event_gender": "category",
                "Medal": ordered_medals}
  df = (pd.read_csv(filename, skiprows=5, dtype=dtype_mapper)
        .drop('Position', axis=1)
  )
  df["Event Gender"] = df["Event Gender"].astype("category")
  df.loc[24676, "Gender"] = "Women"
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  return df

def preprocess_2008(filename="olympics_2008.csv"):
  print(f"Preprocessing {filename} ...\n")
  df = pd.read_csv(filename)
  df.columns = ['City', 'Year', 'Sport', 'Discipline', 'Athlete Name', 'NOC',
       'Gender', 'Event', 'Event Gender', 'Medal', 'Result']
  df = df.drop("Result", axis=1)
  df.City = df.City.fillna(value="Beijing")
  df.Year = df.Year.fillna(value=2008)
  df = df.dropna(subset=['Sport', 'Discipline', 'Athlete Name', 'NOC', 'Gender',
       'Event', 'Event Gender', 'Medal'], how="all")
  df = df.drop_duplicates()
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  df.Medal = df.Medal.str.capitalize()
  df.City = df.City.astype("string")
  df.Year = df.Year.astype(int)
  df.Sport = df.Sport.astype("string")
  df.Discipline = df.Discipline.astype("string")
  df["Athlete Name"] = df["Athlete Name"].astype("string")
  df.NOC = df.NOC.astype("string")
  df.Gender = df.Gender.astype("category")
  df.Event = df.Event.astype("string")
  df['Event Gender'] = df['Event Gender'].astype("category")
  medal_order = ["Bronze", "Silver", "Gold"]
  df.Medal = pd.Categorical(df.Medal, categories=medal_order, ordered=True)

  return df

oo = preprocess()
nw = preprocess_2008()
up = pd.concat([oo, nw])
up.sample(3)

In [ ]:
games_2008 = up[up.Year == 2008]
games_2008.sample(3)

In [ ]:
(games_2008
 .Medal
 .value_counts())

In [ ]:
import seaborn as sns

In [ ]:
plt.figure(figsize=(5,3))
plt.title("Medals from the 2008 games")
sns.countplot(data=games_2008,
              x='Medal',
              )

In [ ]:
plt.figure(figsize=(5,3))
plt.title("Medals from the 2008 games")
sns.countplot(data=games_2008,
              x='Medal',
              order=["Gold", "Silver", "Bronze"])

In [ ]:
plt.figure(figsize=(5,3))
plt.title("Medals from the 2008 games")
sns.countplot(data=games_2008,
              x='Medal',
              order=["Gold", "Silver", "Bronze"],
              hue='Gender')

In [ ]:
plt.figure(figsize=(5,3))
plt.title("Medals from the 2008 games")
sns.countplot(data=games_2008,
              x='Medal',
              order=["Gold", "Silver", "Bronze"],
              hue='Gender',
              palette='seismic')

In [ ]:
plt.figure(figsize=(5,3))
plt.title("Medals from the 2008 games")
sns.countplot(data=games_2008,
              x='Medal',
              order=["Gold", "Silver", "Bronze"],
              hue='Gender',
              palette='coolwarm')

In [ ]:
plt.figure(figsize=(5,3))
plt.title("Medals from the 2008 games")
sns.countplot(data=games_2008,
              x='Medal',
              order=["Gold", "Silver", "Bronze"],
              hue='Gender',
              palette='bwr')

In [ ]:
plt.figure(figsize=(5,3))
plt.title("Medals from the 2008 games")
sns.countplot(data=games_2008,
              x='Medal',
              order=["Gold", "Silver", "Bronze"],
              hue='Gender',
              palette='bwr_r')

##Working with groupby

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt


if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv
if not Path("olympics_2008.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_2008.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
def preprocess(filename = "olympics_1896_2004.csv"):
  """Preparing and transforming dataframe"""
  print(f"Preprocessing {filename} ...\n")
  ordered_medals = pd.api.types.CategoricalDtype(categories=["Bronze", "Silver", "Gold"], ordered=True)
  dtype_mapper = {"Year": "int64",
                "City": "string",
                "Sport": "string",
                "Discipline": "string",
                "Athlete Name": "string",
                "NOC": "string",
                "Gender": "category",
                "Event": "string",
                "Event_gender": "category",
                "Medal": ordered_medals}
  df = (pd.read_csv(filename, skiprows=5, dtype=dtype_mapper)
        .drop('Position', axis=1)
  )
  df["Event Gender"] = df["Event Gender"].astype("category")
  df.loc[24676, "Gender"] = "Women"
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  return df

def preprocess_2008(filename="olympics_2008.csv"):
  print(f"Preprocessing {filename} ...\n")
  df = pd.read_csv(filename)
  df.columns = ['City', 'Year', 'Sport', 'Discipline', 'Athlete Name', 'NOC',
       'Gender', 'Event', 'Event Gender', 'Medal', 'Result']
  df = df.drop("Result", axis=1)
  df.City = df.City.fillna(value="Beijing")
  df.Year = df.Year.fillna(value=2008)
  df = df.dropna(subset=['Sport', 'Discipline', 'Athlete Name', 'NOC', 'Gender',
       'Event', 'Event Gender', 'Medal'], how="all")
  df = df.drop_duplicates()
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  df.Medal = df.Medal.str.capitalize()
  df.City = df.City.astype("string")
  df.Year = df.Year.astype(int)
  df.Sport = df.Sport.astype("string")
  df.Discipline = df.Discipline.astype("string")
  df["Athlete Name"] = df["Athlete Name"].astype("string")
  df.NOC = df.NOC.astype("string")
  df.Gender = df.Gender.astype("category")
  df.Event = df.Event.astype("string")
  df['Event Gender'] = df['Event Gender'].astype("category")
  medal_order = ["Bronze", "Silver", "Gold"]
  df.Medal = pd.Categorical(df.Medal, categories=medal_order, ordered=True)

  return df

oo = preprocess()
nw = preprocess_2008()
up = pd.concat([oo, nw])
up.sample(3)

In [ ]:
sprints = up[(up.Year == 2008) & ((up.Event == '100m') | (up.Event == '200m'))]
sprints

In [ ]:
sp = sprints.groupby(['NOC', 'Gender', 'Event'])
sp

In [ ]:
up.groupby("Year")

In [ ]:
type(up.groupby('Year'))

In [ ]:
up.groupby("Year").count()

In [ ]:
for group_key, group_value in up.groupby('Year'):
    print(group_key)
    print(group_value)

In [ ]:
type(group_value)

In [ ]:
up.groupby(['Year']).count()

In [ ]:
up.groupby("Year").size()

In [ ]:
up.groupby(['Year','NOC']).count()

In [ ]:
up.groupby(['Year','NOC'])['Medal'].count()

In [ ]:
up.groupby(['Year','NOC']).size()

In [ ]:
up.groupby(['Year','NOC','Medal']).size()

In [ ]:
#pause
up.groupby(['NOC'])['Year'].min()

In [ ]:
up.groupby(['NOC'])['Year'].max()

In [ ]:
up.groupby(['NOC'])['Year'].min()

In [ ]:
up.groupby(['NOC'])['Year'].agg(['min', 'max', 'count'])

##Reshaping data: Stacking, Unstacking and MultiIndex

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt


if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv
if not Path("olympics_2008.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_2008.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
def preprocess(filename = "olympics_1896_2004.csv"):
  """Preparing and transforming dataframe"""
  print(f"Preprocessing {filename} ...\n")
  ordered_medals = pd.api.types.CategoricalDtype(categories=["Bronze", "Silver", "Gold"], ordered=True)
  dtype_mapper = {"Year": "int64",
                "City": "string",
                "Sport": "string",
                "Discipline": "string",
                "Athlete Name": "string",
                "NOC": "string",
                "Gender": "category",
                "Event": "string",
                "Event_gender": "category",
                "Medal": ordered_medals}
  df = pd.read_csv(filename, skiprows=5, dtype=dtype_mapper)
  df = df.drop('Position', axis=1)
  df["Event Gender"] = df["Event Gender"].astype("category")
  df.loc[24676, "Gender"] = "Women"
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  return df

def preprocess_2008(filename="olympics_2008.csv"):
  print(f"Preprocessing {filename} ...\n")
  df = pd.read_csv(filename)
  df.columns = ['City', 'Year', 'Sport', 'Discipline', 'Athlete Name', 'NOC',
       'Gender', 'Event', 'Event Gender', 'Medal', 'Result']
  df = df.drop("Result", axis=1)
  df.City = df.City.fillna(value="Beijing")
  df.Year = df.Year.fillna(value=2008)
  df = df.dropna(subset=['Sport', 'Discipline', 'Athlete Name', 'NOC', 'Gender',
       'Event', 'Event Gender', 'Medal'], how="all")
  df = df.drop_duplicates()
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  df.Medal = df.Medal.str.capitalize()
  df.City = df.City.astype("string")
  df.Year = df.Year.astype(int)
  df.Sport = df.Sport.astype("string")
  df.Discipline = df.Discipline.astype("string")
  df["Athlete Name"] = df["Athlete Name"].astype("string")
  df.NOC = df.NOC.astype("string")
  df.Gender = df.Gender.astype("category")
  df.Event = df.Event.astype("string")
  df['Event Gender'] = df['Event Gender'].astype("category")
  medal_order = ["Bronze", "Silver", "Gold"]
  df.Medal = pd.Categorical(df.Medal, categories=medal_order, ordered=True)

  return df

oo = preprocess()
nw = preprocess_2008()
up = pd.concat([oo, nw])
up.sample(3)

In [ ]:
sprints = up[(up.Year == 2008) & ( (up.Event == '100m') | (up.Event == '200m'))]
sprints

In [ ]:
sp = sprints.groupby(['NOC','Gender','Event']).size()
sp

In [ ]:
sp.unstack?

In [ ]:
sp.unstack('Gender', fill_value=0)

In [ ]:
(sp
 .unstack('Gender', fill_value=0)
 .unstack('Event', fill_value=0)
)

In [ ]:
sp.unstack?

In [ ]:
sp.unstack(['Gender', 'Event'], fill_value=0)

In [ ]:
sp = sprints.groupby(['NOC','Gender','Event']).size()
sp

In [ ]:
sp.unstack(level=1, fill_value=0)

In [ ]:
sprints_table = sp.unstack(level=1, fill_value=0).unstack(level=1, fill_value=0)
sprints_table

In [ ]:
sprints_NOC = sprints_table.stack("Gender")
sprints_NOC

In [ ]:
sprints_NOC.index

In [ ]:
sprints_NOC.loc[('JAM',   'Men'), :]

In [ ]:
sprints_NOC.loc[('JAM',   'Men'), '100m']

In [ ]:
sprints_NOC.iloc[0, :]

In [ ]:
sprints_NOC.iloc[0, 0]

In [ ]:
sprints_NOC.stack?

In [ ]:
sprints_NOC.unstack?

## Challenge

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv
if not Path("olympics_2008.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_2008.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
def preprocess(filename = "olympics_1896_2004.csv"):
  """Preparing and transforming dataframe"""
  print(f"Preprocessing {filename} ...\n")
  ordered_medals = pd.api.types.CategoricalDtype(categories=["Bronze", "Silver", "Gold"], ordered=True)
  dtype_mapper = {"Year": "int64",
                "City": "string",
                "Sport": "string",
                "Discipline": "string",
                "Athlete Name": "string",
                "NOC": "string",
                "Gender": "category",
                "Event": "string",
                "Event_gender": "category",
                "Medal": ordered_medals}
  df = pd.read_csv(filename, skiprows=5, dtype=dtype_mapper)
  df = df.drop('Position', axis=1)
  df["Event Gender"] = df["Event Gender"].astype("category")
  df.loc[24676, "Gender"] = "Women"
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  return df

def preprocess_2008(filename="olympics_2008.csv"):
  print(f"Preprocessing {filename} ...\n")
  df = pd.read_csv(filename)
  df.columns = ['City', 'Year', 'Sport', 'Discipline', 'Athlete Name', 'NOC',
       'Gender', 'Event', 'Event Gender', 'Medal', 'Result']
  df = df.drop("Result", axis=1)
  df.City = df.City.fillna(value="Beijing")
  df.Year = df.Year.fillna(value=2008)
  df = df.dropna(subset=['Sport', 'Discipline', 'Athlete Name', 'NOC', 'Gender',
       'Event', 'Event Gender', 'Medal'], how="all")
  df = df.drop_duplicates()
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  df.Medal = df.Medal.str.capitalize()
  df.City = df.City.astype("string")
  df.Year = df.Year.astype(int)
  df.Sport = df.Sport.astype("string")
  df.Discipline = df.Discipline.astype("string")
  df["Athlete Name"] = df["Athlete Name"].astype("string")
  df.NOC = df.NOC.astype("string")
  df.Gender = df.Gender.astype("category")
  df.Event = df.Event.astype("string")
  df['Event Gender'] = df['Event Gender'].astype("category")
  medal_order = ["Bronze", "Silver", "Gold"]
  df.Medal = pd.Categorical(df.Medal, categories=medal_order, ordered=True)

  return df

oo = preprocess()
nw = preprocess_2008()
up = pd.concat([oo, nw])
up.sample(3)

**Using a line graph, plot the number of gold medals won by the USA male and female Olympians throughout the history of the Olympics?
Distinguish between the male and female Olympians in the line graph using blue and pink**

**Using a bar chart, plot the 5 Olympians who have won the most gold medals from the dataset (1896 to 2008). When there is a tie, consider the number of silver medals, then bronze medals.**

##Solution

**Using a line graph, plot the number of gold medals won by the USA male and female Olympians throughout the history of the Olympics?
Distinguish between the male and female Olympians in the line graph using blue (male) and pink (female)**

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv
if not Path("olympics_2008.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_2008.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
def preprocess(filename = "olympics_1896_2004.csv"):
  """Preparing and transforming dataframe"""
  print(f"Preprocessing {filename} ...\n")
  ordered_medals = pd.api.types.CategoricalDtype(categories=["Bronze", "Silver", "Gold"], ordered=True)
  dtype_mapper = {"Year": "int64",
                "City": "string",
                "Sport": "string",
                "Discipline": "string",
                "Athlete Name": "string",
                "NOC": "string",
                "Gender": "category",
                "Event": "string",
                "Event_gender": "category",
                "Medal": ordered_medals}
  df = pd.read_csv(filename, skiprows=5, dtype=dtype_mapper)
  df = df.drop('Position', axis=1)
  df["Event Gender"] = df["Event Gender"].astype("category")
  df.loc[24676, "Gender"] = "Women"
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  return df

def preprocess_2008(filename="olympics_2008.csv"):
  print(f"Preprocessing {filename} ...\n")
  df = pd.read_csv(filename)
  df.columns = ['City', 'Year', 'Sport', 'Discipline', 'Athlete Name', 'NOC',
       'Gender', 'Event', 'Event Gender', 'Medal', 'Result']
  df = df.drop("Result", axis=1)
  df.City = df.City.fillna(value="Beijing")
  df.Year = df.Year.fillna(value=2008)
  df = df.dropna(subset=['Sport', 'Discipline', 'Athlete Name', 'NOC', 'Gender',
       'Event', 'Event Gender', 'Medal'], how="all")
  df = df.drop_duplicates()
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  df.Medal = df.Medal.str.capitalize()
  df.City = df.City.astype("string")
  df.Year = df.Year.astype(int)
  df.Sport = df.Sport.astype("string")
  df.Discipline = df.Discipline.astype("string")
  df["Athlete Name"] = df["Athlete Name"].astype("string")
  df.NOC = df.NOC.astype("string")
  df.Gender = df.Gender.astype("category")
  df.Event = df.Event.astype("string")
  df['Event Gender'] = df['Event Gender'].astype("category")
  medal_order = ["Bronze", "Silver", "Gold"]
  df.Medal = pd.Categorical(df.Medal, categories=medal_order, ordered=True)

  return df

oo = preprocess()
nw = preprocess_2008()
up = pd.concat([oo, nw])
up.sample(3)

In [ ]:
usa_gold = up[(up.NOC == 'USA') & (up.Medal == 'Gold')]
usa_gold

In [ ]:
usa_gold.groupby(['Year', 'Gender']).size()

In [ ]:
usa_gold.groupby(['Year', 'Gender']).size().index

In [ ]:
usa_gold.groupby(['Year', 'Gender']).size().plot(kind='line')

In [ ]:
usa_gold.groupby(['Year', 'Gender']).size()

In [ ]:
usa_gold.groupby(['Year', 'Gender']).size().unstack('Gender')

In [ ]:
usa_gold.groupby(['Year', 'Gender']).size().unstack('Gender').plot(kind='line')

In [ ]:
usa_gold.groupby(['Year', 'Gender']).size().unstack('Gender').plot?

In [ ]:
pd.Series.plot?

In [ ]:
usa_gold.groupby(['Year', 'Gender']).size().unstack('Gender').plot(kind='line', color=['blue', 'pink'])

In [ ]:
usa_gold.groupby(['Year', 'Gender']).size().unstack('Gender').plot(kind='line', color=['pink', 'blue'])

**Using a bar chart, plot the 5 Olympians who have won the most gold medals from the dataset (1896 to 2008). When there is a tie, consider the number of silver medals, then bronze medals.**

In [ ]:
up.groupby(['Athlete Name','Medal']).size()

In [ ]:
(up.groupby(['Athlete Name','Medal'])
.size()
.unstack('Medal', fill_value=0)
)

In [ ]:
(up.groupby(['Athlete Name','Medal'])
.size()
.unstack('Medal', fill_value=0)
.sort_values(['Gold', 'Silver', 'Bronze'], ascending=False)
)

In [ ]:
(up.groupby(['Athlete Name','Medal'])
.size()
.unstack('Medal', fill_value=0)
.sort_values(['Gold', 'Silver', 'Bronze'], ascending=False)[['Gold', 'Silver', 'Bronze']]
)

In [ ]:
(up.groupby(['Athlete Name','Medal'])
.size()
.unstack('Medal', fill_value=0)
.sort_values(['Gold', 'Silver', 'Bronze'], ascending=False)[['Gold', 'Silver', 'Bronze']]
.head(5)
)

In [ ]:
(up.groupby(['Athlete Name','Medal'])
.size()
.unstack('Medal', fill_value=0)
.sort_values(['Gold', 'Silver', 'Bronze'], ascending=False)[['Gold', 'Silver', 'Bronze']]
.head(5)
.plot(kind='bar')
)

##Creating your own colormaps

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv
if not Path("olympics_2008.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_2008.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
def preprocess(filename = "olympics_1896_2004.csv"):
  """Preparing and transforming dataframe"""
  print(f"Preprocessing {filename} ...\n")
  ordered_medals = pd.api.types.CategoricalDtype(categories=["Bronze", "Silver", "Gold"], ordered=True)
  dtype_mapper = {"Year": "int64",
                "City": "string",
                "Sport": "string",
                "Discipline": "string",
                "Athlete Name": "string",
                "NOC": "string",
                "Gender": "category",
                "Event": "string",
                "Event_gender": "category",
                "Medal": ordered_medals}
  df = pd.read_csv(filename, skiprows=5, dtype=dtype_mapper)
  df = df.drop('Position', axis=1)
  df["Event Gender"] = df["Event Gender"].astype("category")
  df.loc[24676, "Gender"] = "Women"
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  return df

def preprocess_2008(filename="olympics_2008.csv"):
  print(f"Preprocessing {filename} ...\n")
  df = pd.read_csv(filename)
  df.columns = ['City', 'Year', 'Sport', 'Discipline', 'Athlete Name', 'NOC',
       'Gender', 'Event', 'Event Gender', 'Medal', 'Result']
  df = df.drop("Result", axis=1)
  df.City = df.City.fillna(value="Beijing")
  df.Year = df.Year.fillna(value=2008)
  df = df.dropna(subset=['Sport', 'Discipline', 'Athlete Name', 'NOC', 'Gender',
       'Event', 'Event Gender', 'Medal'], how="all")
  df = df.drop_duplicates()
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  df.Medal = df.Medal.str.capitalize()
  df.City = df.City.astype("string")
  df.Year = df.Year.astype(int)
  df.Sport = df.Sport.astype("string")
  df.Discipline = df.Discipline.astype("string")
  df["Athlete Name"] = df["Athlete Name"].astype("string")
  df.NOC = df.NOC.astype("string")
  df.Gender = df.Gender.astype("category")
  df.Event = df.Event.astype("string")
  df['Event Gender'] = df['Event Gender'].astype("category")
  medal_order = ["Bronze", "Silver", "Gold"]
  df.Medal = pd.Categorical(df.Medal, categories=medal_order, ordered=True)

  return df

oo = preprocess()
nw = preprocess_2008()
up = pd.concat([oo, nw])
up.sample(3)

In [ ]:
(up.groupby(['Athlete Name','Medal'])
.size()
.unstack('Medal', fill_value=0)
.sort_values(['Gold', 'Silver', 'Bronze'], ascending=False)[['Gold', 'Silver', 'Bronze']]
.head(5)
.plot(kind='bar')
)

In [ ]:
from matplotlib.colors import ListedColormap

In [ ]:
ListedColormap?

In [ ]:
gold_silver_bronze = ['#dbb40c','#c5c9c7','#a87900']

In [ ]:
colormap = ListedColormap(gold_silver_bronze)
colormap

In [ ]:
(up.groupby(['Athlete Name','Medal'])
.size()
.unstack('Medal', fill_value=0)
.sort_values(['Gold', 'Silver', 'Bronze'], ascending=False)[['Gold', 'Silver', 'Bronze']]
.head(5)
.plot(kind='bar', colormap=colormap)
)

##Final Challenge

For each Olympic year present in the dataset, show the US Olympian (and their sport) who has won the highest number of medals in that particular year.

- In the case of a tie, Gold > Silver > Bronze
- Include only one Olympian for each Olympic year i.e. If there are 2 Olympians in one year who have won exactly the same number and type of medals, then show only the first one based on sorting the names alphabetically by surname.

- You should show the the following columns for each Olympic year:
  - Athlete Name
  - Sport
  - Total

In [ ]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
pd.set_option("display.width", 100)

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv
if not Path("olympics_2008.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_2008.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

In [ ]:
def preprocess(filename = "olympics_1896_2004.csv"):
  """Preparing and transforming dataframe"""
  print(f"Preprocessing {filename} ...\n")
  ordered_medals = pd.api.types.CategoricalDtype(categories=["Bronze", "Silver", "Gold"], ordered=True)
  dtype_mapper = {"Year": "int64",
                "City": "string",
                "Sport": "string",
                "Discipline": "string",
                "Athlete Name": "string",
                "NOC": "string",
                "Gender": "category",
                "Event": "string",
                "Event_gender": "category",
                "Medal": ordered_medals}
  df = pd.read_csv(filename, skiprows=5, dtype=dtype_mapper)
  df = df.drop('Position', axis=1)
  df["Event Gender"] = df["Event Gender"].astype("category")
  df.loc[24676, "Gender"] = "Women"
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  return df

def preprocess_2008(filename="olympics_2008.csv"):
  print(f"Preprocessing {filename} ...\n")
  df = pd.read_csv(filename)
  df.columns = ['City', 'Year', 'Sport', 'Discipline', 'Athlete Name', 'NOC',
       'Gender', 'Event', 'Event Gender', 'Medal', 'Result']
  df = df.drop("Result", axis=1)
  df.City = df.City.fillna(value="Beijing")
  df.Year = df.Year.fillna(value=2008)
  df = df.dropna(subset=['Sport', 'Discipline', 'Athlete Name', 'NOC', 'Gender',
       'Event', 'Event Gender', 'Medal'], how="all")
  df = df.drop_duplicates()
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  df.Medal = df.Medal.str.capitalize()
  df.City = df.City.astype("string")
  df.Year = df.Year.astype(int)
  df.Sport = df.Sport.astype("string")
  df.Discipline = df.Discipline.astype("string")
  df["Athlete Name"] = df["Athlete Name"].astype("string")
  df.NOC = df.NOC.astype("string")
  df.Gender = df.Gender.astype("category")
  df.Event = df.Event.astype("string")
  df['Event Gender'] = df['Event Gender'].astype("category")
  medal_order = ["Bronze", "Silver", "Gold"]
  df.Medal = pd.Categorical(df.Medal, categories=medal_order, ordered=True)

  return df

oo = preprocess()
nw = preprocess_2008()
up = pd.concat([oo, nw])
up.sample(3)

##Solution

For each Olympic year present in the dataset, show the US Olympian (and their sport) who has won the highest number of medals in that particular year.

- In the case of a tie, Gold > Silver > Bronze
- Include only one Olympian for each Olympic year i.e. If there are 2 Olympians in one year who have won exactly the same number and type of medals, then show only the first one based on sorting the names alphabetically by surname.

- You should show the the following columns for each Olympic year:
  - Athlete Name
  - Sport
  - Total

In [1]:
!pip install --quiet pandas==2.0.2

import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
pd.set_option("display.width", 100)

if not Path("olympics_1896_2004.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_1896_2004.csv
if not Path("olympics_2008.csv").exists():
  !wget https://github.com/jonfernandes/pandas_essential/raw/main/olympics_2008.csv

filename = "olympics_1896_2004.csv"
print("Installed all of the necessary files for this section ...")

Installed all of the necessary files for this section ...

In [2]:
def preprocess(filename = "olympics_1896_2004.csv"):
  """Preparing and transforming dataframe"""
  print(f"Preprocessing {filename} ...\n")
  ordered_medals = pd.api.types.CategoricalDtype(categories=["Bronze", "Silver", "Gold"], ordered=True)
  dtype_mapper = {"Year": "int64",
                "City": "string",
                "Sport": "string",
                "Discipline": "string",
                "Athlete Name": "string",
                "NOC": "string",
                "Gender": "category",
                "Event": "string",
                "Event_gender": "category",
                "Medal": ordered_medals}
  df = pd.read_csv(filename, skiprows=5, dtype=dtype_mapper)
  df = df.drop('Position', axis=1)
  df["Event Gender"] = df["Event Gender"].astype("category")
  df.loc[24676, "Gender"] = "Women"
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  return df

def preprocess_2008(filename="olympics_2008.csv"):
  print(f"Preprocessing {filename} ...\n")
  df = pd.read_csv(filename)
  df.columns = ['City', 'Year', 'Sport', 'Discipline', 'Athlete Name', 'NOC',
       'Gender', 'Event', 'Event Gender', 'Medal', 'Result']
  df = df.drop("Result", axis=1)
  df.City = df.City.fillna(value="Beijing")
  df.Year = df.Year.fillna(value=2008)
  df = df.dropna(subset=['Sport', 'Discipline', 'Athlete Name', 'NOC', 'Gender',
       'Event', 'Event Gender', 'Medal'], how="all")
  df = df.drop_duplicates()
  df.Sport = df.Sport.str.lower()
  df.Discipline = df.Discipline.str.lower()
  df.Event = df.Event.str.lower()
  df.NOC = df.NOC.str.upper()
  df.Medal = df.Medal.str.capitalize()
  df.City = df.City.astype("string")
  df.Year = df.Year.astype(int)
  df.Sport = df.Sport.astype("string")
  df.Discipline = df.Discipline.astype("string")
  df["Athlete Name"] = df["Athlete Name"].astype("string")
  df.NOC = df.NOC.astype("string")
  df.Gender = df.Gender.astype("category")
  df.Event = df.Event.astype("string")
  df['Event Gender'] = df['Event Gender'].astype("category")
  medal_order = ["Bronze", "Silver", "Gold"]
  df.Medal = pd.Categorical(df.Medal, categories=medal_order, ordered=True)

  return df

oo = preprocess()
nw = preprocess_2008()
up = pd.concat([oo, nw])
up.sample(3)

Preprocessing olympics_1896_2004.csv ...

Preprocessing olympics_2008.csv ...

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal
26795,2004,Athens,softball,softball,"TAKAYAMA, Juri",JPN,Women,softball,W,Bronze
20781,1992,Barcelona,hockey,hockey,"KHAWAJA, Muhammad Junaid",PAK,Men,hockey,M,Bronze
1436,1908,London,rackets,rackets,"ASTOR, John Jacob",GBR,Men,double,M,Gold

In [3]:
usa_olympian = up[up.NOC == 'USA']
usa_olympian

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Event Gender,Medal
2,1896,Athens,athletics,athletics,"LANE, Francis",USA,Men,100m,M,Bronze
4,1896,Athens,athletics,athletics,"BURKE, Thomas",USA,Men,100m,M,Gold
14,1896,Athens,athletics,athletics,"CURTIS, Thomas",USA,Men,110m hurdles,M,Gold
23,1896,Athens,athletics,athletics,"BLAKE, Arthur",USA,Men,1500m,M,Silver
28,1896,Athens,shooting,shooting,"PAINE, John",USA,Men,25m army pistol,M,Gold
...,...,...,...,...,...,...,...,...,...,...
1935,2008,Beijing,volleyball,volleyball,"TOM, Logan",USA,Women,volleyball,W,Silver
1936,2008,Beijing,volleyball,volleyball,"WILLOUGHBY, Kim",USA,Women,volleyball,W,Silver
1988,2008,Beijing,wrestling,wrestling free.,"CEJUDO, Henry",USA,Men,- 55kg,M,Gold
1998,2008,Beijing,wrestling,wrestling free.,"MILLER, Randi",USA,Women,55 - 63kg,W,Bronze
2046,2008,Beijing,wrestling,wrestling gre-r,"WHEELER, Adam",USA,Men,84 - 96kg,M,Bronze

In [4]:
usa_olympian.groupby(['Year', 'Athlete Name', 'Medal', 'Sport']).size()

Year  Athlete Name   Medal   Sport
1896  ABAS, Stephen  Bronze  aquatics         0
                             archery          0
                             athletics        0
                             baseball         0
                             basketball       0
                                             ..
2008  ZORN, Zachary  Gold    triathlon        0
                             tug of war       0
                             volleyball       0
                             weightlifting    0
                             wrestling        0
Length: 7680600, dtype: int64

In [5]:
(usa_olympian.groupby(['Year', 'Athlete Name', 'Medal', 'Sport'])
.size()
.unstack('Medal', fill_value=0)
)

Medal                             Bronze  Silver  Gold
Year Athlete Name  Sport
1896 ABAS, Stephen aquatics            0       0     0
                   archery             0       0     0
                   athletics           0       0     0
                   baseball            0       0     0
                   basketball          0       0     0
...                                  ...     ...   ...
2008 ZORN, Zachary triathlon           0       0     0
                   tug of war          0       0     0
                   volleyball          0       0     0
                   weightlifting       0       0     0
                   wrestling           0       0     0

[2560200 rows x 3 columns]

In [6]:
table = (usa_olympian.groupby(['Year', 'Athlete Name', 'Sport', 'Medal'])
.size()
.unstack('Medal', fill_value=0)
)
table

Medal                             Bronze  Silver  Gold
Year Athlete Name  Sport
1896 ABAS, Stephen aquatics            0       0     0
                   archery             0       0     0
                   athletics           0       0     0
                   baseball            0       0     0
                   basketball          0       0     0
...                                  ...     ...   ...
2008 ZORN, Zachary triathlon           0       0     0
                   tug of war          0       0     0
                   volleyball          0       0     0
                   weightlifting       0       0     0
                   wrestling           0       0     0

[2560200 rows x 3 columns]

In [7]:
table = (usa_olympian.groupby(['Year', 'Athlete Name', 'Sport', 'Medal'])
.size()
.unstack('Medal', fill_value=0)
.assign(Total=table['Gold']+table['Silver']+table['Bronze'])
)
table

Medal                             Bronze  Silver  Gold  Total
Year Athlete Name  Sport
1896 ABAS, Stephen aquatics            0       0     0      0
                   archery             0       0     0      0
                   athletics           0       0     0      0
                   baseball            0       0     0      0
                   basketball          0       0     0      0
...                                  ...     ...   ...    ...
2008 ZORN, Zachary triathlon           0       0     0      0
                   tug of war          0       0     0      0
                   volleyball          0       0     0      0
                   weightlifting       0       0     0      0
                   wrestling           0       0     0      0

[2560200 rows x 4 columns]

In [8]:
table = (usa_olympian.groupby(['Year', 'Athlete Name', 'Sport', 'Medal'])
.size()
.unstack('Medal', fill_value=0)
.assign(Total=table['Gold']+table['Silver']+table['Bronze'])
.reset_index()
)
table

Medal    Year   Athlete Name          Sport  Bronze  Silver  Gold  Total
0        1896  ABAS, Stephen       aquatics       0       0     0      0
1        1896  ABAS, Stephen        archery       0       0     0      0
2        1896  ABAS, Stephen      athletics       0       0     0      0
3        1896  ABAS, Stephen       baseball       0       0     0      0
4        1896  ABAS, Stephen     basketball       0       0     0      0
...       ...            ...            ...     ...     ...   ...    ...
2560195  2008  ZORN, Zachary      triathlon       0       0     0      0
2560196  2008  ZORN, Zachary     tug of war       0       0     0      0
2560197  2008  ZORN, Zachary     volleyball       0       0     0      0
2560198  2008  ZORN, Zachary  weightlifting       0       0     0      0
2560199  2008  ZORN, Zachary      wrestling       0       0     0      0

[2560200 rows x 7 columns]

In [9]:
for year, group in table.groupby('Year'):
  print(group)

Medal   Year   Athlete Name          Sport  Bronze  Silver  Gold  Total
0       1896  ABAS, Stephen       aquatics       0       0     0      0
1       1896  ABAS, Stephen        archery       0       0     0      0
2       1896  ABAS, Stephen      athletics       0       0     0      0
3       1896  ABAS, Stephen       baseball       0       0     0      0
4       1896  ABAS, Stephen     basketball       0       0     0      0
...      ...            ...            ...     ...     ...   ...    ...
102403  1896  ZORN, Zachary      triathlon       0       0     0      0
102404  1896  ZORN, Zachary     tug of war       0       0     0      0
102405  1896  ZORN, Zachary     volleyball       0       0     0      0
102406  1896  ZORN, Zachary  weightlifting       0       0     0      0
102407  1896  ZORN, Zachary      wrestling       0       0     0      0

[102408 rows x 7 columns]
Medal   Year   Athlete Name          Sport  Bronze  Silver  Gold  Total
102408  1900  ABAS, Stephen       aquatics       0       0     0      0
102409  1900  ABAS, Stephen        archery       0       0     0      0
102410  1900  ABAS, Stephen      athletics       0       0     0      0
102411  1900  ABAS, Stephen       baseball       0       0     0      0
102412  1900  ABAS, Stephen     basketball       0       0     0      0
...      ...            ...            ...     ...     ...   ...    ...
204811  1900  ZORN, Zachary      triathlon       0       0     0      0
204812  1900  ZORN, Zachary     tug of war       0       0     0      0
204813  1900  ZORN, Zachary     volleyball       0       0     0      0
204814  1900  ZORN, Zachary  weightlifting       0       0     0      0
204815  1900  ZORN, Zachary      wrestling       0       0     0      0

[102408 rows x 7 columns]
Medal   Year   Athlete Name          Sport  Bronze  Silver  Gold  Total
204816  1904  ABAS, Stephen       aquatics       0       0     0      0
204817  1904  ABAS, Stephen        archery       0       0     0      0
204818  1904  ABAS, Stephen      athletics       0       0     0      0
204819  1904  ABAS, Stephen       baseball       0       0     0      0
204820  1904  ABAS, Stephen     basketball       0       0     0      0
...      ...            ...            ...     ...     ...   ...    ...
307219  1904  ZORN, Zachary      triathlon       0       0     0      0
307220  1904  ZORN, Zachary     tug of war       0       0     0      0
307221  1904  ZORN, Zachary     volleyball       0       0     0      0
307222  1904  ZORN, Zachary  weightlifting       0       0     0      0
307223  1904  ZORN, Zachary      wrestling       0       0     0      0

[102408 rows x 7 columns]
Medal   Year   Athlete Name          Sport  Bronze  Silver  Gold  Total
307224  1908  ABAS, Stephen       aquatics       0       0     0      0
307225  1908  ABAS, Stephen        archery       0       0     0      0
307226  1908  ABAS, Stephen      athletics       0       0     0      0
307227  1908  ABAS, Stephen       baseball       0       0     0      0
307228  1908  ABAS, Stephen     basketball       0       0     0      0
...      ...            ...            ...     ...     ...   ...    ...
409627  1908  ZORN, Zachary      triathlon       0       0     0      0
409628  1908  ZORN, Zachary     tug of war       0       0     0      0
409629  1908  ZORN, Zachary     volleyball       0       0     0      0
409630  1908  ZORN, Zachary  weightlifting       0       0     0      0
409631  1908  ZORN, Zachary      wrestling       0       0     0      0

[102408 rows x 7 columns]
Medal   Year   Athlete Name          Sport  Bronze  Silver  Gold  Total
409632  1912  ABAS, Stephen       aquatics       0       0     0      0
409633  1912  ABAS, Stephen        archery       0       0     0      0
409634  1912  ABAS, Stephen      athletics       0       0     0      0
409635  1912  ABAS, Stephen       baseball       0       0     0      0
409636  1912  ABAS, Stephen     basketball       0       0     0      0
...      ...            ...            ...     ...     ...   ...    ...
512035  1912  ZORN, Zachary      triathlon       0       0     0      0
512036  1912  ZORN, Zachary     tug of war       0       0     0      0
512037  1912  ZORN, Zachary     volleyball       0       0     0      0
512038  1912  ZORN, Zachary  weightlifting       0       0     0      0
512039  1912  ZORN, Zachary      wrestling       0       0     0      0

[102408 rows x 7 columns]
Medal   Year   Athlete Name          Sport  Bronze  Silver  Gold  Total
512040  1920  ABAS, Stephen       aquatics       0       0     0      0
512041  1920  ABAS, Stephen        archery       0       0     0      0
512042  1920  ABAS, Stephen      athletics       0       0     0      0
512043  1920  ABAS, Stephen       baseball       0       0     0      0
512044  1920  ABAS, Stephen     basketball       0       0     0      0
...      ...            ...            ...     ...     ...   ...    ...
614443  1920  ZORN, Zachary      triathlon       0       0     0      0
614444  1920  ZORN, Zachary     tug of war       0       0     0      0
614445  1920  ZORN, Zachary     volleyball       0       0     0      0
614446  1920  ZORN, Zachary  weightlifting       0       0     0      0
614447  1920  ZORN, Zachary      wrestling       0       0     0      0

[102408 rows x 7 columns]
Medal   Year   Athlete Name          Sport  Bronze  Silver  Gold  Total
614448  1924  ABAS, Stephen       aquatics       0       0     0      0
614449  1924  ABAS, Stephen        archery       0       0     0      0
614450  1924  ABAS, Stephen      athletics       0       0     0      0
614451  1924  ABAS, Stephen       baseball       0       0     0      0
614452  1924  ABAS, Stephen     basketball       0       0     0      0
...      ...            ...            ...     ...     ...   ...    ...
716851  1924  ZORN, Zachary      triathlon       0       0     0      0
716852  1924  ZORN, Zachary     tug of war       0       0     0      0
716853  1924  ZORN, Zachary     volleyball       0       0     0      0
716854  1924  ZORN, Zachary  weightlifting       0       0     0      0
716855  1924  ZORN, Zachary      wrestling       0       0     0      0

[102408 rows x 7 columns]
Medal   Year   Athlete Name          Sport  Bronze  Silver  Gold  Total
716856  1928  ABAS, Stephen       aquatics       0       0     0      0
716857  1928  ABAS, Stephen        archery       0       0     0      0
716858  1928  ABAS, Stephen      athletics       0       0     0      0
716859  1928  ABAS, Stephen       baseball       0       0     0      0
716860  1928  ABAS, Stephen     basketball       0       0     0      0
...      ...            ...            ...     ...     ...   ...    ...
819259  1928  ZORN, Zachary      triathlon       0       0     0      0
819260  1928  ZORN, Zachary     tug of war       0       0     0      0
819261  1928  ZORN, Zachary     volleyball       0       0     0      0
819262  1928  ZORN, Zachary  weightlifting       0       0     0      0
819263  1928  ZORN, Zachary      wrestling       0       0     0      0

[102408 rows x 7 columns]
Medal   Year   Athlete Name          Sport  Bronze  Silver  Gold  Total
819264  1932  ABAS, Stephen       aquatics       0       0     0      0
819265  1932  ABAS, Stephen        archery       0       0     0      0
819266  1932  ABAS, Stephen      athletics       0       0     0      0
819267  1932  ABAS, Stephen       baseball       0       0     0      0
819268  1932  ABAS, Stephen     basketball       0       0     0      0
...      ...            ...            ...     ...     ...   ...    ...
921667  1932  ZORN, Zachary      triathlon       0       0     0      0
921668  1932  ZORN, Zachary     tug of war       0       0     0      0
921669  1932  ZORN, Zachary     volleyball       0       0     0      0
921670  1932  ZORN, Zachary  weightlifting       0       0     0      0
921671  1932  ZORN, Zachary      wrestling       0       0     0      0

[102408 rows x 7 columns]
Medal    Year   Athlete Name          Sport  Bronze  Silver  Gold  Total
921672   1936  ABAS, Stephen       aquatics       0       0     0      0
921673   1936  ABAS, Stephen        archery       0       0     0      0
921674   1936  ABAS, Stephen      athletics       0       0     0      0
921675   1936  ABAS, Stephen       baseball       0       0     0      0
921676   1936  ABAS, Stephen     basketball       0       0     0      0
...       ...            ...            ...     ...     ...   ...    ...
1024075  1936  ZORN, Zachary      triathlon       0       0     0      0
1024076  1936  ZORN, Zachary     tug of war       0       0     0      0
1024077  1936  ZORN, Zachary     volleyball       0       0     0      0
1024078  1936  ZORN, Zachary  weightlifting       0       0     0      0
1024079  1936  ZORN, Zachary      wrestling       0       0     0      0

[102408 rows x 7 columns]
Medal    Year   Athlete Name          Sport  Bronze  Silver  Gold  Total
1024080  1948  ABAS, Stephen       aquatics       0       0     0      0
1024081  1948  ABAS, Stephen        archery       0       0     0      0
1024082  1948  ABAS, Stephen      athletics       0       0     0      0
1024083  1948  ABAS, Stephen       baseball       0       0     0      0
1024084  1948  ABAS, Stephen     basketball       0       0     0      0
...       ...            ...            ...     ...     ...   ...    ...
1126483  1948  ZORN, Zachary      triathlon       0       0     0      0
1126484  1948  ZORN, Zachary     tug of war       0       0     0      0
1126485  1948  ZORN, Zachary     volleyball       0       0     0      0
1126486  1948  ZORN, Zachary  weightlifting       0       0     0      0
1126487  1948  ZORN, Zachary      wrestling       0       0     0      0

[102408 rows x 7 columns]
Medal    Year   Athlete Name          Sport  Bronze  Silver  Gold  Total
1126488  1952  ABAS, Stephen       aquatics       0       0     0      0
1126489  1952  ABAS, Stephen        archery       0       0     0      0
1126490  1952  ABAS, Stephen      athletics       0       0     0      0
1126491  1952  ABAS, Stephen       baseball       0       0     0      0
1126492  1952  ABAS, Stephen     basketball       0       0     0      0
...       ...            ...            ...     ...     ...   ...    ...
1228891  1952  ZORN, Zachary      triathlon       0       0     0      0
1228892  1952  ZORN, Zachary     tug of war       0       0     0      0
1228893  1952  ZORN, Zachary     volleyball       0       0     0      0
1228894  1952  ZORN, Zachary  weightlifting       0       0     0      0
1228895  1952  ZORN, Zachary      wrestling       0       0     0      0

[102408 rows x 7 columns]
Medal    Year   Athlete Name          Sport  Bronze  Silver  Gold  Total
1228896  1956  ABAS, Stephen       aquatics       0       0     0      0
1228897  1956  ABAS, Stephen        archery       0       0     0      0
1228898  1956  ABAS, Stephen      athletics       0       0     0      0
1228899  1956  ABAS, Stephen       baseball       0       0     0      0
1228900  1956  ABAS, Stephen     basketball       0       0     0      0
...       ...            ...            ...     ...     ...   ...    ...
1331299  1956  ZORN, Zachary      triathlon       0       0     0      0
1331300  1956  ZORN, Zachary     tug of war       0       0     0      0
1331301  1956  ZORN, Zachary     volleyball       0       0     0      0
1331302  1956  ZORN, Zachary  weightlifting       0       0     0      0
1331303  1956  ZORN, Zachary      wrestling       0       0     0      0

[102408 rows x 7 columns]
Medal    Year   Athlete Name          Sport  Bronze  Silver  Gold  Total
1331304  1960  ABAS, Stephen       aquatics       0       0     0      0
1331305  1960  ABAS, Stephen        archery       0       0     0      0
1331306  1960  ABAS, Stephen      athletics       0       0     0      0
1331307  1960  ABAS, Stephen       baseball       0       0     0      0
1331308  1960  ABAS, Stephen     basketball       0       0     0      0
...       ...            ...            ...     ...     ...   ...    ...
1433707  1960  ZORN, Zachary      triathlon       0       0     0      0
1433708  1960  ZORN, Zachary     tug of war       0       0     0      0
1433709  1960  ZORN, Zachary     volleyball       0       0     0      0
1433710  1960  ZORN, Zachary  weightlifting       0       0     0      0
1433711  1960  ZORN, Zachary      wrestling       0       0     0      0

[102408 rows x 7 columns]
Medal    Year   Athlete Name          Sport  Bronze  Silver  Gold  Total
1433712  1964  ABAS, Stephen       aquatics       0       0     0      0
1433713  1964  ABAS, Stephen        archery       0       0     0      0
1433714  1964  ABAS, Stephen      athletics       0       0     0      0
1433715  1964  ABAS, Stephen       baseball       0       0     0      0
1433716  1964  ABAS, Stephen     basketball       0       0     0      0
...       ...            ...            ...     ...     ...   ...    ...
1536115  1964  ZORN, Zachary      triathlon       0       0     0      0
1536116  1964  ZORN, Zachary     tug of war       0       0     0      0
1536117  1964  ZORN, Zachary     volleyball       0       0     0      0
1536118  1964  ZORN, Zachary  weightlifting       0       0     0      0
1536119  1964  ZORN, Zachary      wrestling       0       0     0      0

[102408 rows x 7 columns]
Medal    Year   Athlete Name          Sport  Bronze  Silver  Gold  Total
1536120  1968  ABAS, Stephen       aquatics       0       0     0      0
1536121  1968  ABAS, Stephen        archery       0       0     0      0
1536122  1968  ABAS, Stephen      athletics       0       0     0      0
1536123  1968  ABAS, Stephen       baseball       0       0     0      0
1536124  1968  ABAS, Stephen     basketball       0       0     0      0
...       ...            ...            ...     ...     ...   ...    ...
1638523  1968  ZORN, Zachary      triathlon       0       0     0      0
1638524  1968  ZORN, Zachary     tug of war       0       0     0      0
1638525  1968  ZORN, Zachary     volleyball       0       0     0      0
1638526  1968  ZORN, Zachary  weightlifting       0       0     0      0
1638527  1968  ZORN, Zachary      wrestling       0       0     0      0

[102408 rows x 7 columns]
Medal    Year   Athlete Name          Sport  Bronze  Silver  Gold  Total
1638528  1972  ABAS, Stephen       aquatics       0       0     0      0
1638529  1972  ABAS, Stephen        archery       0       0     0      0
1638530  1972  ABAS, Stephen      athletics       0       0     0      0
1638531  1972  ABAS, Stephen       baseball       0       0     0      0
1638532  1972  ABAS, Stephen     basketball       0       0     0      0
...       ...            ...            ...     ...     ...   ...    ...
1740931  1972  ZORN, Zachary      triathlon       0       0     0      0
1740932  1972  ZORN, Zachary     tug of war       0       0     0      0
1740933  1972  ZORN, Zachary     volleyball       0       0     0      0
1740934  1972  ZORN, Zachary  weightlifting       0       0     0      0
1740935  1972  ZORN, Zachary      wrestling       0       0     0      0

[102408 rows x 7 columns]
Medal    Year   Athlete Name          Sport  Bronze  Silver  Gold  Total
1740936  1976  ABAS, Stephen       aquatics       0       0     0      0
1740937  1976  ABAS, Stephen        archery       0       0     0      0
1740938  1976  ABAS, Stephen      athletics       0       0     0      0
1740939  1976  ABAS, Stephen       baseball       0       0     0      0
1740940  1976  ABAS, Stephen     basketball       0       0     0      0
...       ...            ...            ...     ...     ...   ...    ...
1843339  1976  ZORN, Zachary      triathlon       0       0     0      0
1843340  1976  ZORN, Zachary     tug of war       0       0     0      0
1843341  1976  ZORN, Zachary     volleyball       0       0     0      0
1843342  1976  ZORN, Zachary  weightlifting       0       0     0      0
1843343  1976  ZORN, Zachary      wrestling       0       0     0      0

[102408 rows x 7 columns]
Medal    Year   Athlete Name          Sport  Bronze  Silver  Gold  Total
1843344  1984  ABAS, Stephen       aquatics       0       0     0      0
1843345  1984  ABAS, Stephen        archery       0       0     0      0
1843346  1984  ABAS, Stephen      athletics       0       0     0      0
1843347  1984  ABAS, Stephen       baseball       0       0     0      0
1843348  1984  ABAS, Stephen     basketball       0       0     0      0
...       ...            ...            ...     ...     ...   ...    ...
1945747  1984  ZORN, Zachary      triathlon       0       0     0      0
1945748  1984  ZORN, Zachary     tug of war       0       0     0      0
1945749  1984  ZORN, Zachary     volleyball       0       0     0      0
1945750  1984  ZORN, Zachary  weightlifting       0       0     0      0
1945751  1984  ZORN, Zachary      wrestling       0       0     0      0

[102408 rows x 7 columns]
Medal    Year   Athlete Name          Sport  Bronze  Silver  Gold  Total
1945752  1988  ABAS, Stephen       aquatics       0       0     0      0
1945753  1988  ABAS, Stephen        archery       0       0     0      0
1945754  1988  ABAS, Stephen      athletics       0       0     0      0
1945755  1988  ABAS, Stephen       baseball       0       0     0      0
1945756  1988  ABAS, Stephen     basketball       0       0     0      0
...       ...            ...            ...     ...     ...   ...    ...
2048155  1988  ZORN, Zachary      triathlon       0       0     0      0
2048156  1988  ZORN, Zachary     tug of war       0       0     0      0
2048157  1988  ZORN, Zachary     volleyball       0       0     0      0
2048158  1988  ZORN, Zachary  weightlifting       0       0     0      0
2048159  1988  ZORN, Zachary      wrestling       0       0     0      0

[102408 rows x 7 columns]
Medal    Year   Athlete Name          Sport  Bronze  Silver  Gold  Total
2048160  1992  ABAS, Stephen       aquatics       0       0     0      0
2048161  1992  ABAS, Stephen        archery       0       0     0      0
2048162  1992  ABAS, Stephen      athletics       0       0     0      0
2048163  1992  ABAS, Stephen       baseball       0       0     0      0
2048164  1992  ABAS, Stephen     basketball       0       0     0      0
...       ...            ...            ...     ...     ...   ...    ...
2150563  1992  ZORN, Zachary      triathlon       0       0     0      0
2150564  1992  ZORN, Zachary     tug of war       0       0     0      0
2150565  1992  ZORN, Zachary     volleyball       0       0     0      0
2150566  1992  ZORN, Zachary  weightlifting       0       0     0      0
2150567  1992  ZORN, Zachary      wrestling       0       0     0      0

[102408 rows x 7 columns]
Medal    Year   Athlete Name          Sport  Bronze  Silver  Gold  Total
2150568  1996  ABAS, Stephen       aquatics       0       0     0      0
2150569  1996  ABAS, Stephen        archery       0       0     0      0
2150570  1996  ABAS, Stephen      athletics       0       0     0      0
2150571  1996  ABAS, Stephen       baseball       0       0     0      0
2150572  1996  ABAS, Stephen     basketball       0       0     0      0
...       ...            ...            ...     ...     ...   ...    ...
2252971  1996  ZORN, Zachary      triathlon       0       0     0      0
2252972  1996  ZORN, Zachary     tug of war       0       0     0      0
2252973  1996  ZORN, Zachary     volleyball       0       0     0      0
2252974  1996  ZORN, Zachary  weightlifting       0       0     0      0
2252975  1996  ZORN, Zachary      wrestling       0       0     0      0

[102408 rows x 7 columns]
Medal    Year   Athlete Name          Sport  Bronze  Silver  Gold  Total
2252976  2000  ABAS, Stephen       aquatics       0       0     0      0
2252977  2000  ABAS, Stephen        archery       0       0     0      0

In [10]:
for year, group in table.groupby('Year'):
  print(group.sort_values('Total', ascending=False))

Medal   Year                  Athlete Name          Sport  Bronze  Silver  Gold  Total
32642   1896               GARRETT, Robert      athletics       0       2     2      4
17988   1896               CONNOLLY, James      athletics       1       1     1      3
12616   1896                 BURKE, Thomas      athletics       0       0     2      2
16186   1896                 CLARK, Ellery      athletics       0       0     2      2
71118   1896                 PAINE, Sumner       shooting       0       1     1      2
...      ...                           ...            ...     ...     ...   ...    ...
34136   1896                GLASS, Hermann       aquatics       0       0     0      0
34135   1896  GLASGOW, Walter Merrill, Jr.      wrestling       0       0     0      0
34134   1896  GLASGOW, Walter Merrill, Jr.  weightlifting       0       0     0      0
34133   1896  GLASGOW, Walter Merrill, Jr.     volleyball       0       0     0      0
102407  1896                 ZORN, Zachary      wrestling       0       0     0      0

[102408 rows x 7 columns]
Medal   Year               Athlete Name       Sport  Bronze  Silver  Gold  Total
193156  1900  TEWKSBURY, Walter B. John   athletics       1       2     2      5
107612  1900             BAXTER, Irving   athletics       0       3     2      5
154838  1900          KRAENZLEIN, Alvin   athletics       0       0     4      4
130154  1900                  EWRY, Ray   athletics       0       0     3      3
135050  1900            GARRETT, Robert   athletics       2       0     0      2
...      ...                        ...         ...     ...     ...   ...    ...
136548  1900             GLASS, Hermann  basketball       0       0     0      0
136547  1900             GLASS, Hermann    baseball       0       0     0      0
136546  1900             GLASS, Hermann   athletics       0       0     0      0
136545  1900             GLASS, Hermann     archery       0       0     0      0
204815  1900              ZORN, Zachary   wrestling       0       0     0      0

[102408 rows x 7 columns]
Medal   Year      Athlete Name       Sport  Bronze  Silver  Gold  Total
245424  1904      HEIDA, Anton  gymnastics       0       1     5      6
232640  1904     EYSER, George  gymnastics       1       2     3      6
229541  1904   DOWNING, Burton     cycling       1       3     2      6
249159  1904    HURLEY, Marcus     cycling       1       0     4      5
225454  1904  DANIELS, Charles    aquatics       1       1     3      5
...      ...               ...         ...     ...     ...   ...    ...
238991  1904   GLASS, Kimberly      boxing       0       0     0      0
238990  1904   GLASS, Kimberly  basketball       0       0     0      0
238989  1904   GLASS, Kimberly    baseball       0       0     0      0
238988  1904   GLASS, Kimberly   athletics       0       0     0      0
307223  1904     ZORN, Zachary   wrestling       0       0     0      0

[102408 rows x 7 columns]
Medal   Year           Athlete Name          Sport  Bronze  Silver  Gold  Total
390390  1908       SHEPPARD, Melvin      athletics       0       0     3      3
390458  1908       SHERIDAN, Martin      athletics       1       0     2      3
342098  1908   GORMAN, James Edward       shooting       1       0     1      2
327862  1908       DANIELS, Charles       aquatics       1       0     1      2
339832  1908  GARRELS, John Carlyle      athletics       1       1     0      2
...      ...                    ...            ...     ...     ...   ...    ...
341369  1908         GLASS, Hermann        fencing       0       0     0      0
341368  1908         GLASS, Hermann     equestrian       0       0     0      0
341367  1908         GLASS, Hermann        cycling       0       0     0      0
341366  1908         GLASS, Hermann  canoe / kayak       0       0     0      0
409631  1908          ZORN, Zachary      wrestling       0       0     0      0

[102408 rows x 7 columns]
Medal   Year           Athlete Name       Sport  Bronze  Silver  Gold  Total
480240  1912  OSBURN, Carl Townsend    shooting       1       2     1      4
496186  1912      SPROUT, Warren A.    shooting       2       0     1      3
463342  1912        LANE, Alfred P.    shooting       0       0     3      3
464974  1912   LEUSHNER, William F.    shooting       2       1     0      3
451884  1912     HIRD, Frederick S.    shooting       2       0     1      3
...      ...                    ...         ...     ...     ...   ...    ...
443772  1912         GLASS, Hermann  basketball       0       0     0      0
443771  1912         GLASS, Hermann    baseball       0       0     0      0
443770  1912         GLASS, Hermann   athletics       0       0     0      0
443769  1912         GLASS, Hermann     archery       0       0     0      0
512039  1912          ZORN, Zachary   wrestling       0       0     0      0

[102408 rows x 7 columns]
Medal   Year              Athlete Name         Sport  Bronze  Silver  Gold  Total
598424  1920    SPOONER, Lloyd Spencer      shooting       2       1     4      7
566940  1920               LEE, Willis      shooting       1       1     5      7
582648  1920     OSBURN, Carl Townsend      shooting       1       1     4      6
581186  1920  NUESSLEIN, Lawrence Adam      shooting       2       1     2      5
540522  1920            FENTON, Dennis      shooting       1       0     3      4
...      ...                       ...           ...     ...     ...   ...    ...
546192  1920            GLASS, Hermann          judo       0       0     0      0
546191  1920            GLASS, Hermann  jeu de paume       0       0     0      0
546190  1920            GLASS, Hermann    ice hockey       0       0     0      0
546189  1920            GLASS, Hermann        hockey       0       0     0      0
614447  1920             ZORN, Zachary     wrestling       0       0     0      0

[102408 rows x 7 columns]
Medal   Year              Athlete Name      Sport  Bronze  Silver  Gold  Total
710940  1924       WEISSMULLER, Johnny   aquatics       1       0     3      4
640662  1924          EDERLE, Gertrude   aquatics       2       0     1      3
690602  1924         RICHARDS, Vincent     tennis       0       1     2      3
633342  1924  COULTER, Raymond Orville   shooting       1       0     1      2
695336  1924           SCHOLZ, Jackson  athletics       0       1     1      2
...      ...                       ...        ...     ...     ...   ...    ...
648606  1924            GLASS, Hermann      rugby       0       0     0      0
648605  1924            GLASS, Hermann     rowing       0       0     0      0
648604  1924            GLASS, Hermann      roque       0       0     0      0
648603  1924            GLASS, Hermann       polo       0       0     0      0
716855  1924             ZORN, Zachary  wrestling       0       0     0      0

[102408 rows x 7 columns]
Medal   Year                      Athlete Name              Sport  Bronze  Silver  Gold  Total
787508  1928            OSIPOWICH, Albina Lucy           aquatics       0       0     2      2
739704  1928  DESJARDINS, Ulise Joseph "Peter"           aquatics       0       0     2      2
734230  1928               COLEMAN, Georgia V.           aquatics       1       1     0      2
749088  1928           GALITZEN, Michael Riley           aquatics       1       1     0      2
794072  1928               ROBINSON, Elizabeth          athletics       0       1     1      2
...      ...                               ...                ...     ...     ...   ...    ...
751010  1928                    GLASS, Hermann  modern pentathlon       0       0     0      0
751009  1928                    GLASS, Hermann           lacrosse       0       0     0      0
751008  1928                    GLASS, Hermann               judo       0       0     0      0
751007  1928                    GLASS, Hermann       jeu de paume       0       0     0      0
819263  1928                     ZORN, Zachary          wrestling       0       0     0      0

[102408 rows x 7 columns]
Medal   Year            Athlete Name          Sport  Bronze  Silver  Gold  Total
877370  1932         MADISON, Helene       aquatics       0       0     3      3
842454  1932      DIDRIKSON, Mildred      athletics       0       1     2      3
836638  1932     COLEMAN, Georgia V.       aquatics       0       1     1      2
913922  1932  VON BREMEN, Wilhelmina      athletics       1       0     1      2
833818  1932    CARR, William Arthur      athletics       0       0     2      2
...      ...                     ...            ...     ...     ...   ...    ...
853432  1932          GLASS, Hermann  weightlifting       0       0     0      0
853431  1932          GLASS, Hermann     volleyball       0       0     0      0
853430  1932          GLASS, Hermann     tug of war       0       0     0      0
853429  1932          GLASS, Hermann      triathlon       0       0     0      0
921671  1932           ZORN, Zachary      wrestling       0       0     0      0

[102408 rows x 7 columns]
Medal    Year             Athlete Name       Sport  Bronze  Silver  Gold  Total
992530   1936             OWENS, Jesse   athletics       0       0     4      4
984674   1936          MEDICA, Jack C.    aquatics       0       2     1      3
985322   1936          METCALFE, Ralph   athletics       0       1     1      2
996710   1936  RAWLS, Katherine Louise    aquatics       1       1     0      2
995724   1936    POYNTON-HILL, Dorothy    aquatics       1       0     1      2
...       ...                      ...         ...     ...     ...   ...    ...
955819   1936           GLASS, Hermann        golf       0       0     0      0
955818   1936           GLASS, Hermann    football       0       0     0      0
955817   1936           GLASS, Hermann     fencing       0       0     0      0
955816   1936           GLASS, Hermann  equestrian       0       0     0      0
1024079  1936            ZORN, Zachary   wrestling       0       0     0      0

[102408 rows x 7 columns]
Medal    Year               Athlete Name       Sport  Bronze  Silver  Gold  Total
1065364  1948       HENRY, Frank Sherman  equestrian       0       2     1      3
1121560  1948  WHITFIELD, Malvin Groston   athletics       1       0     2      3
1086402  1948    MCLANE, James Price Jr.    aquatics       0       1     2      3
1051724  1948      EWELL, Harold Norwood   athletics       0       2     1      3
1044310  1948      CURTIS, Ann Elisabeth    aquatics       0       1     2      3
...       ...                        ...         ...     ...     ...   ...    ...
1058240  1948             GLASS, Hermann    shooting       0       0     0      0
1058239  1948             GLASS, Hermann     sailing       0       0     0      0
1058238  1948             GLASS, Hermann       rugby       0       0     0      0
1058237  1948             GLASS, Hermann      rowing       0       0     0      0
1126487  1948              ZORN, Zachary   wrestling       0       0     0      0

[102408 rows x 7 columns]
Medal    Year               Athlete Name       Sport  Bronze  Silver  Gold  Total
1178576  1952        KONNO, Ford Hiroshi    aquatics       0       1     2      3
1213428  1952  STANFIELD, Andrew William   athletics       0       0     2      2
1192212  1952   MOORE, Charles Hewes Jr.   athletics       0       1     1      2
1186228  1952      MATSON, Oliver Adrian   athletics       1       1     0      2
1176094  1952     KAWAMOTO, Evelyn Tokue    aquatics       2       0     0      2
...       ...                        ...         ...     ...     ...   ...    ...
1160638  1952             GLASS, Hermann  ice hockey       0       0     0      0
1160637  1952             GLASS, Hermann      hockey       0       0     0      0
1160636  1952             GLASS, Hermann  gymnastics       0       0     0      0
1160635  1952             GLASS, Hermann        golf       0       0     0      0
1228895  1952              ZORN, Zachary   wrestling       0       0     0      0

[102408 rows x 7 columns]
Medal    Year           Athlete Name              Sport  Bronze  Silver  Gold  Total
1295504  1956  MORROW, Robert Joseph          athletics       0       0     3      3
1239198  1956   BREEN, George Thomas           aquatics       2       1     0      3
1232536  1956    BAKER, Walter Thane          athletics       1       1     1      3
1289858  1956    MCCORMICK, Patricia           aquatics       0       0     2      2
1287580  1956   MANN, Shelley Isabel           aquatics       0       1     1      2
...       ...                    ...                ...     ...     ...   ...    ...
1263051  1956         GLASS, Hermann               polo       0       0     0      0
1263050  1956         GLASS, Hermann  modern pentathlon       0       0     0      0
1263049  1956         GLASS, Hermann           lacrosse       0       0     0      0
1263048  1956         GLASS, Hermann               judo       0       0     0      0
1331303  1956          ZORN, Zachary          wrestling       0       0     0      0

[102408 rows x 7 columns]
Medal    Year                 Athlete Name         Sport  Bronze  Silver  Gold  Total
1425994  1960  VON SALTZA, Susan Christina      aquatics       0       1     3      4
1409914  1960               RUDOLPH, Wilma     athletics       0       0     3      3
1359388  1960      FARRELL, Felix Geoffrey      aquatics       0       0     2      2
1385364  1960         LARSON, Lance Melvin      aquatics       0       1     1      2
1423886  1960        TROY, Michael Francis      aquatics       0       0     2      2
...       ...                          ...           ...     ...     ...   ...    ...
1365455  1960               GLASS, Hermann  jeu de paume       0       0     0      0
1365454  1960               GLASS, Hermann    ice hockey       0       0     0      0
1365453  1960               GLASS, Hermann        hockey       0       0     0      0
1365452  1960               GLASS, Hermann    gymnastics       0       0     0      0
1433711  1960                ZORN, Zachary     wrestling       0       0     0      0

[102408 rows x 7 columns]
Medal    Year                Athlete Name      Sport  Bronze  Silver  Gold  Total
1514564  1964  SCHOLLANDER, Donald Arthur   aquatics       0       0     4      4
1460232  1964             ELLIS, Kathleen   aquatics       2       0     2      4
1522282  1964       STOUDER, Sharon Marie   aquatics       0       1     3      4
1495424  1964        MCGUIRE, Edith Marie  athletics       0       2     1      3
1450100  1964       CLARK, Stephen Edward   aquatics       0       0     3      3
...       ...                         ...        ...     ...     ...   ...    ...
1467873  1964              GLASS, Hermann    skating       0       0     0      0
1467872  1964              GLASS, Hermann   shooting       0       0     0      0
1467871  1964              GLASS, Hermann    sailing       0       0     0      0
1467870  1964              GLASS, Hermann      rugby       0       0     0      0
1536119  1964               ZORN, Zachary  wrestling       0       0     0      0

[102408 rows x 7 columns]
Medal    Year               Athlete Name          Sport  Bronze  Silver  Gold  Total
1622412  1968                SPITZ, Mark       aquatics       1       1     2      4
1577294  1968          HENNE, Jane Margo       aquatics       1       1     2      4
1608234  1968       PEDERSEN, Susan Jane       aquatics       0       2     2      4
1577804  1968  HICKCOX, Charles Buchanan       aquatics       0       1     3      4
1556724  1968    DANIEL, Eleanor Suzanne       aquatics       1       1     1      3
...       ...                        ...            ...     ...     ...   ...    ...
1570264  1968             GLASS, Hermann     equestrian       0       0     0      0
1570263  1968             GLASS, Hermann        cycling       0       0     0      0
1570262  1968             GLASS, Hermann  canoe / kayak       0       0     0      0
1570261  1968             GLASS, Hermann         boxing       0       0     0      0
1638527  1968              ZORN, Zachary      wrestling       0       0     0      0

[102408 rows x 7 columns]
Medal    Year               Athlete Name              Sport  Bronze  Silver  Gold  Total
1724820  1972                SPITZ, Mark           aquatics       0       0     7      7
1679158  1972    HEIDENREICH, Jerry Alan           aquatics       1       1     2      4
1641656  1972  BABASHOFF, Shirley Farber           aquatics       0       2     1      3
1725398  1972      STAMM, Michael Eugene           aquatics       0       2     1      3
1644818  1972     BELOTE, Melissa Louise           aquatics       0       0     3      3
...       ...                        ...                ...     ...     ...   ...    ...
1672682  1972             GLASS, Hermann  modern pentathlon       0       0     0      0
1672681  1972             GLASS, Hermann           lacrosse       0       0     0      0
1672680  1972             GLASS, Hermann               judo       0       0     0      0
1672679  1972             GLASS, Hermann       jeu de paume       0       0     0      0
1740935  1972              ZORN, Zachary          wrestling       0       0     0      0

[102408 rows x 7 columns]
Medal    Year               Athlete Name         Sport  Bronze  Silver  Gold  Total
1744064  1976  BABASHOFF, Shirley Farber      aquatics       0       4     1      5
1808732  1976       NABER, John Phillips      aquatics       0       1     4      5
1806420  1976     MONTGOMERY, James Paul      aquatics       1       0     3      4
1781838  1976    HENCKEN, John Frederick      aquatics       0       1     2      3
1772760  1976  FURNISS, Bruce Macfarlane      aquatics       0       0     2      2
...       ...                        ...           ...     ...     ...   ...    ...
1775087  1976             GLASS, Hermann  jeu de paume       0       0     0      0
1775086  1976             GLASS, Hermann    ice hockey       0       0     0      0
1775085  1976             GLASS, Hermann        hockey       0       0     0      0
1775084  1976             GLASS, Hermann    gymnastics       0       0     0      0
1843343  1976              ZORN, Zachary     wrestling       0       0     0      0

[102408 rows x 7 columns]
Medal    Year            Athlete Name         Sport  Bronze  Silver  Gold  Total
1919142  1984        RETTON, Mary-Lou    gymnastics       2       2     1      5
1898800  1984             LEWIS, Carl     athletics       0       0     4      4
1886014  1984    HOGSHEAD, Nancy Lynn      aquatics       0       1     3      4
1876234  1984   GAYLORD, Mitchell Jay    gymnastics       2       1     1      4
1906120  1984  MCNAMARA, Julianne Lyn    gymnastics       0       2     1      3
...       ...                     ...           ...     ...     ...   ...    ...
1877530  1984         GLASS, Kimberly          judo       0       0     0      0
1877529  1984         GLASS, Kimberly  jeu de paume       0       0     0      0
1877528  1984         GLASS, Kimberly    ice hockey       0       0     0      0
1877527  1984         GLASS, Kimberly        hockey       0       0     0      0
1945751  1984           ZORN, Zachary     wrestling       0       0     0      0

[102408 rows x 7 columns]
Medal    Year                 Athlete Name       Sport  Bronze  Silver  Gold  Total
1953334  1988              BIONDI, Matthew    aquatics       1       1     5      7
1982168  1988    GRIFFITH-JOYNER, Florence   athletics       0       1     3      4
1991142  1988  JACOBS, Christopher Charles    aquatics       0       1     2      3
1973088  1988                 EVANS, Janet    aquatics       0       0     3      3
2001208  1988                  LEWIS, Carl   athletics       0       1     2      3
...       ...                          ...         ...     ...     ...   ...    ...

In [11]:
for year, group in table.groupby('Year'):
  print(group.sort_values(['Total', 'Gold', 'Silver', 'Bronze', 'Athlete Name'], ascending=False))

Medal  Year     Athlete Name          Sport  Bronze  Silver  Gold  Total
32642  1896  GARRETT, Robert      athletics       0       2     2      4
17988  1896  CONNOLLY, James      athletics       1       1     1      3
16186  1896    CLARK, Ellery      athletics       0       0     2      2
12616  1896    BURKE, Thomas      athletics       0       0     2      2
71118  1896    PAINE, Sumner       shooting       0       1     1      2
...     ...              ...            ...     ...     ...   ...    ...
29     1896    ABAS, Stephen      triathlon       0       0     0      0
30     1896    ABAS, Stephen     tug of war       0       0     0      0
31     1896    ABAS, Stephen     volleyball       0       0     0      0
32     1896    ABAS, Stephen  weightlifting       0       0     0      0
33     1896    ABAS, Stephen      wrestling       0       0     0      0

[102408 rows x 7 columns]
Medal   Year               Athlete Name          Sport  Bronze  Silver  Gold  Total
107612  1900             BAXTER, Irving      athletics       0       3     2      5
193156  1900  TEWKSBURY, Walter B. John      athletics       1       2     2      5
154838  1900          KRAENZLEIN, Alvin      athletics       0       0     4      4
130154  1900                  EWRY, Ray      athletics       0       0     3      3
176700  1900           PRINSTEIN, Meyer      athletics       0       1     1      2
...      ...                        ...            ...     ...     ...   ...    ...
102437  1900              ABAS, Stephen      triathlon       0       0     0      0
102438  1900              ABAS, Stephen     tug of war       0       0     0      0
102439  1900              ABAS, Stephen     volleyball       0       0     0      0
102440  1900              ABAS, Stephen  weightlifting       0       0     0      0
102441  1900              ABAS, Stephen      wrestling       0       0     0      0

[102408 rows x 7 columns]
Medal   Year      Athlete Name          Sport  Bronze  Silver  Gold  Total
245424  1904      HEIDA, Anton     gymnastics       0       1     5      6
232640  1904     EYSER, George     gymnastics       1       2     3      6
229541  1904   DOWNING, Burton        cycling       1       3     2      6
249159  1904    HURLEY, Marcus        cycling       1       0     4      5
225454  1904  DANIELS, Charles       aquatics       1       1     3      5
...      ...               ...            ...     ...     ...   ...    ...
204845  1904     ABAS, Stephen      triathlon       0       0     0      0
204846  1904     ABAS, Stephen     tug of war       0       0     0      0
204847  1904     ABAS, Stephen     volleyball       0       0     0      0
204848  1904     ABAS, Stephen  weightlifting       0       0     0      0
204849  1904     ABAS, Stephen      wrestling       0       0     0      0

[102408 rows x 7 columns]
Medal   Year                  Athlete Name          Sport  Bronze  Silver  Gold  Total
390390  1908              SHEPPARD, Melvin      athletics       0       0     3      3
390458  1908              SHERIDAN, Martin      athletics       1       0     2      3
334970  1908                     EWRY, Ray      athletics       0       0     2      2
322140  1908  CASEY, Kellog Kennon Venable       shooting       0       1     1      2
342098  1908          GORMAN, James Edward       shooting       1       0     1      2
...      ...                           ...            ...     ...     ...   ...    ...
307253  1908                 ABAS, Stephen      triathlon       0       0     0      0
307254  1908                 ABAS, Stephen     tug of war       0       0     0      0
307255  1908                 ABAS, Stephen     volleyball       0       0     0      0
307256  1908                 ABAS, Stephen  weightlifting       0       0     0      0
307257  1908                 ABAS, Stephen      wrestling       0       0     0      0

[102408 rows x 7 columns]
Medal   Year           Athlete Name          Sport  Bronze  Silver  Gold  Total
480240  1912  OSBURN, Carl Townsend       shooting       1       2     1      4
463342  1912        LANE, Alfred P.       shooting       0       0     3      3
496186  1912      SPROUT, Warren A.       shooting       2       0     1      3
451884  1912     HIRD, Frederick S.       shooting       2       0     1      3
464974  1912   LEUSHNER, William F.       shooting       2       1     0      3
...      ...                    ...            ...     ...     ...   ...    ...
409661  1912          ABAS, Stephen      triathlon       0       0     0      0
409662  1912          ABAS, Stephen     tug of war       0       0     0      0
409663  1912          ABAS, Stephen     volleyball       0       0     0      0
409664  1912          ABAS, Stephen  weightlifting       0       0     0      0
409665  1912          ABAS, Stephen      wrestling       0       0     0      0

[102408 rows x 7 columns]
Medal   Year              Athlete Name          Sport  Bronze  Silver  Gold  Total
566940  1920               LEE, Willis       shooting       1       1     5      7
598424  1920    SPOONER, Lloyd Spencer       shooting       2       1     4      7
582648  1920     OSBURN, Carl Townsend       shooting       1       1     4      6
581186  1920  NUESSLEIN, Lawrence Adam       shooting       2       1     2      5
540522  1920            FENTON, Dennis       shooting       1       0     3      4
...      ...                       ...            ...     ...     ...   ...    ...
512069  1920             ABAS, Stephen      triathlon       0       0     0      0
512070  1920             ABAS, Stephen     tug of war       0       0     0      0
512071  1920             ABAS, Stephen     volleyball       0       0     0      0
512072  1920             ABAS, Stephen  weightlifting       0       0     0      0
512073  1920             ABAS, Stephen      wrestling       0       0     0      0

[102408 rows x 7 columns]
Medal   Year              Athlete Name          Sport  Bronze  Silver  Gold  Total
710940  1924       WEISSMULLER, Johnny       aquatics       1       0     3      4
690602  1924         RICHARDS, Vincent         tennis       0       1     2      3
640662  1924          EDERLE, Gertrude       aquatics       2       0     1      3
713858  1924        WILLS-MOODY, Helen         tennis       0       0     2      2
712362  1924  WIGHTMAN, Hazel Virginia         tennis       0       0     2      2
...      ...                       ...            ...     ...     ...   ...    ...
614477  1924             ABAS, Stephen      triathlon       0       0     0      0
614478  1924             ABAS, Stephen     tug of war       0       0     0      0
614479  1924             ABAS, Stephen     volleyball       0       0     0      0
614480  1924             ABAS, Stephen  weightlifting       0       0     0      0
614481  1924             ABAS, Stephen      wrestling       0       0     0      0

[102408 rows x 7 columns]
Medal   Year                      Athlete Name          Sport  Bronze  Silver  Gold  Total
813348  1928               WEISSMULLER, Johnny       aquatics       0       0     2      2
787508  1928            OSIPOWICH, Albina Lucy       aquatics       0       0     2      2
785672  1928                  NORELIUS, Martha       aquatics       0       0     2      2
768774  1928              KOJAC, George Harold       aquatics       0       0     2      2
739704  1928  DESJARDINS, Ulise Joseph "Peter"       aquatics       0       0     2      2
...      ...                               ...            ...     ...     ...   ...    ...
716885  1928                     ABAS, Stephen      triathlon       0       0     0      0
716886  1928                     ABAS, Stephen     tug of war       0       0     0      0
716887  1928                     ABAS, Stephen     volleyball       0       0     0      0
716888  1928                     ABAS, Stephen  weightlifting       0       0     0      0
716889  1928                     ABAS, Stephen      wrestling       0       0     0      0

[102408 rows x 7 columns]
Medal   Year          Athlete Name          Sport  Bronze  Silver  Gold  Total
877370  1932       MADISON, Helene       aquatics       0       0     3      3
842454  1932    DIDRIKSON, Mildred      athletics       0       1     2      3
910964  1932          TOLAN, Eddie      athletics       0       0     2      2
833818  1932  CARR, William Arthur      athletics       0       0     2      2
910494  1932  THOMSON, Earl Foster     equestrian       0       1     1      2
...      ...                   ...            ...     ...     ...   ...    ...
819293  1932         ABAS, Stephen      triathlon       0       0     0      0
819294  1932         ABAS, Stephen     tug of war       0       0     0      0
819295  1932         ABAS, Stephen     volleyball       0       0     0      0
819296  1932         ABAS, Stephen  weightlifting       0       0     0      0
819297  1932         ABAS, Stephen      wrestling       0       0     0      0

[102408 rows x 7 columns]
Medal    Year             Athlete Name          Sport  Bronze  Silver  Gold  Total
992530   1936             OWENS, Jesse      athletics       0       0     4      4
984674   1936          MEDICA, Jack C.       aquatics       0       2     1      3
1009360  1936  STEPHENS, Helen Herring      athletics       0       0     2      2
1017484  1936          WAYNE, Marshall       aquatics       0       1     1      2
985322   1936          METCALFE, Ralph      athletics       0       1     1      2
...       ...                      ...            ...     ...     ...   ...    ...
921701   1936            ABAS, Stephen      triathlon       0       0     0      0
921702   1936            ABAS, Stephen     tug of war       0       0     0      0
921703   1936            ABAS, Stephen     volleyball       0       0     0      0
921704   1936            ABAS, Stephen  weightlifting       0       0     0      0
921705   1936            ABAS, Stephen      wrestling       0       0     0      0

[102408 rows x 7 columns]
Medal    Year               Athlete Name          Sport  Bronze  Silver  Gold  Total
1086402  1948    MCLANE, James Price Jr.       aquatics       0       1     2      3
1044310  1948      CURTIS, Ann Elisabeth       aquatics       0       1     2      3
1121560  1948  WHITFIELD, Malvin Groston      athletics       1       0     2      3
1065364  1948       HENRY, Frank Sherman     equestrian       0       2     1      3
1051724  1948      EWELL, Harold Norwood      athletics       0       2     1      3
...       ...                        ...            ...     ...     ...   ...    ...
1024109  1948              ABAS, Stephen      triathlon       0       0     0      0
1024110  1948              ABAS, Stephen     tug of war       0       0     0      0
1024111  1948              ABAS, Stephen     volleyball       0       0     0      0
1024112  1948              ABAS, Stephen  weightlifting       0       0     0      0
1024113  1948              ABAS, Stephen      wrestling       0       0     0      0

[102408 rows x 7 columns]
Medal    Year               Athlete Name          Sport  Bronze  Silver  Gold  Total
1178576  1952        KONNO, Ford Hiroshi       aquatics       0       1     2      3
1213428  1952  STANFIELD, Andrew William      athletics       0       0     2      2
1202174  1952            REMIGINO, Lindy      athletics       0       0     2      2
1187450  1952        MCCORMICK, Patricia       aquatics       0       0     2      2
1149882  1952          DILLARD, Harrison      athletics       0       0     2      2
...       ...                        ...            ...     ...     ...   ...    ...
1126517  1952              ABAS, Stephen      triathlon       0       0     0      0
1126518  1952              ABAS, Stephen     tug of war       0       0     0      0
1126519  1952              ABAS, Stephen     volleyball       0       0     0      0
1126520  1952              ABAS, Stephen  weightlifting       0       0     0      0
1126521  1952              ABAS, Stephen      wrestling       0       0     0      0

[102408 rows x 7 columns]
Medal    Year             Athlete Name          Sport  Bronze  Silver  Gold  Total
1295504  1956    MORROW, Robert Joseph      athletics       0       0     3      3
1232536  1956      BAKER, Walter Thane      athletics       1       1     1      3
1239198  1956     BREEN, George Thomas       aquatics       2       1     0      3
1289858  1956      MCCORMICK, Patricia       aquatics       0       0     2      2
1275410  1956  JENKINS, Charles Lamont      athletics       0       0     2      2
...       ...                      ...            ...     ...     ...   ...    ...
1228925  1956            ABAS, Stephen      triathlon       0       0     0      0
1228926  1956            ABAS, Stephen     tug of war       0       0     0      0
1228927  1956            ABAS, Stephen     volleyball       0       0     0      0
1228928  1956            ABAS, Stephen  weightlifting       0       0     0      0
1228929  1956            ABAS, Stephen      wrestling       0       0     0      0

[102408 rows x 7 columns]
Medal    Year                 Athlete Name          Sport  Bronze  Silver  Gold  Total
1425994  1960  VON SALTZA, Susan Christina       aquatics       0       1     3      4
1409914  1960               RUDOLPH, Wilma      athletics       0       0     3      3
1423886  1960        TROY, Michael Francis       aquatics       0       0     2      2
1412564  1960        SCHULER, Carolyn Jane       aquatics       0       0     2      2
1359388  1960      FARRELL, Felix Geoffrey       aquatics       0       0     2      2
...       ...                          ...            ...     ...     ...   ...    ...
1331333  1960                ABAS, Stephen      triathlon       0       0     0      0
1331334  1960                ABAS, Stephen     tug of war       0       0     0      0
1331335  1960                ABAS, Stephen     volleyball       0       0     0      0
1331336  1960                ABAS, Stephen  weightlifting       0       0     0      0
1331337  1960                ABAS, Stephen      wrestling       0       0     0      0

[102408 rows x 7 columns]
Medal    Year                Athlete Name          Sport  Bronze  Silver  Gold  Total
1514564  1964  SCHOLLANDER, Donald Arthur       aquatics       0       0     4      4
1522282  1964       STOUDER, Sharon Marie       aquatics       0       1     3      4
1460232  1964             ELLIS, Kathleen       aquatics       2       0     2      4
1450100  1964       CLARK, Stephen Edward       aquatics       0       0     3      3
1495424  1964        MCGUIRE, Edith Marie      athletics       0       2     1      3
...       ...                         ...            ...     ...     ...   ...    ...
1433741  1964               ABAS, Stephen      triathlon       0       0     0      0
1433742  1964               ABAS, Stephen     tug of war       0       0     0      0
1433743  1964               ABAS, Stephen     volleyball       0       0     0      0
1433744  1964               ABAS, Stephen  weightlifting       0       0     0      0
1433745  1964               ABAS, Stephen      wrestling       0       0     0      0

[102408 rows x 7 columns]
Medal    Year               Athlete Name          Sport  Bronze  Silver  Gold  Total
1577804  1968  HICKCOX, Charles Buchanan       aquatics       0       1     3      4
1608234  1968       PEDERSEN, Susan Jane       aquatics       0       2     2      4
1622412  1968                SPITZ, Mark       aquatics       1       1     2      4
1577294  1968          HENNE, Jane Margo       aquatics       1       1     2      4
1599802  1968             MEYER, Deborah       aquatics       0       0     3      3
...       ...                        ...            ...     ...     ...   ...    ...
1536149  1968              ABAS, Stephen      triathlon       0       0     0      0
1536150  1968              ABAS, Stephen     tug of war       0       0     0      0
1536151  1968              ABAS, Stephen     volleyball       0       0     0      0
1536152  1968              ABAS, Stephen  weightlifting       0       0     0      0
1536153  1968              ABAS, Stephen      wrestling       0       0     0      0

[102408 rows x 7 columns]
Medal    Year             Athlete Name          Sport  Bronze  Silver  Gold  Total
1724820  1972              SPITZ, Mark       aquatics       0       0     7      7
1679158  1972  HEIDENREICH, Jerry Alan       aquatics       1       1     2      4
1706562  1972  NEILSON, Alexandra Lynn       aquatics       0       0     3      3
1644818  1972   BELOTE, Melissa Louise       aquatics       0       0     3      3
1725398  1972    STAMM, Michael Eugene       aquatics       0       2     1      3
...       ...                      ...            ...     ...     ...   ...    ...
1638557  1972            ABAS, Stephen      triathlon       0       0     0      0
1638558  1972            ABAS, Stephen     tug of war       0       0     0      0
1638559  1972            ABAS, Stephen     volleyball       0       0     0      0
1638560  1972            ABAS, Stephen  weightlifting       0       0     0      0
1638561  1972            ABAS, Stephen      wrestling       0       0     0      0

[102408 rows x 7 columns]
Medal    Year               Athlete Name          Sport  Bronze  Silver  Gold  Total
1808732  1976       NABER, John Phillips       aquatics       0       1     4      5
1744064  1976  BABASHOFF, Shirley Farber       aquatics       0       4     1      5
1806420  1976     MONTGOMERY, James Paul       aquatics       1       0     3      4
1781838  1976    HENCKEN, John Frederick       aquatics       0       1     2      3
1835354  1976      VOGEL, Matthew Haynes       aquatics       0       0     2      2
...       ...                        ...            ...     ...     ...   ...    ...
1740965  1976              ABAS, Stephen      triathlon       0       0     0      0
1740966  1976              ABAS, Stephen     tug of war       0       0     0      0
1740967  1976              ABAS, Stephen     volleyball       0       0     0      0
1740968  1976              ABAS, Stephen  weightlifting       0       0     0      0
1740969  1976              ABAS, Stephen      wrestling       0       0     0      0

[102408 rows x 7 columns]
Medal    Year           Athlete Name          Sport  Bronze  Silver  Gold  Total
1919142  1984       RETTON, Mary-Lou     gymnastics       2       2     1      5
1898800  1984            LEWIS, Carl      athletics       0       0     4      4
1886014  1984   HOGSHEAD, Nancy Lynn       aquatics       0       1     3      4
1876234  1984  GAYLORD, Mitchell Jay     gymnastics       2       1     1      4
1906278  1984       MEAGHER, Mary T.       aquatics       0       0     3      3
...       ...                    ...            ...     ...     ...   ...    ...
1843373  1984          ABAS, Stephen      triathlon       0       0     0      0
1843374  1984          ABAS, Stephen     tug of war       0       0     0      0
1843375  1984          ABAS, Stephen     volleyball       0       0     0      0
1843376  1984          ABAS, Stephen  weightlifting       0       0     0      0
1843377  1984          ABAS, Stephen      wrestling       0       0     0      0

[102408 rows x 7 columns]
Medal    Year                 Athlete Name          Sport  Bronze  Silver  Gold  Total
1953334  1988              BIONDI, Matthew       aquatics       1       1     5      7
1982168  1988    GRIFFITH-JOYNER, Florence      athletics       0       1     3      4
1973088  1988                 EVANS, Janet       aquatics       0       0     3      3
2001208  1988                  LEWIS, Carl      athletics       0       1     2      3
1991142  1988  JACOBS, Christopher Charles       aquatics       0       1     2      3

In [12]:
for year, group in table.groupby('Year'):
  print(group.sort_values(['Total', 'Gold', 'Silver', 'Bronze', 'Athlete Name'], ascending=False).head(1))

Medal  Year     Athlete Name      Sport  Bronze  Silver  Gold  Total
32642  1896  GARRETT, Robert  athletics       0       2     2      4
Medal   Year    Athlete Name      Sport  Bronze  Silver  Gold  Total
107612  1900  BAXTER, Irving  athletics       0       3     2      5
Medal   Year  Athlete Name       Sport  Bronze  Silver  Gold  Total
245424  1904  HEIDA, Anton  gymnastics       0       1     5      6
Medal   Year      Athlete Name      Sport  Bronze  Silver  Gold  Total
390390  1908  SHEPPARD, Melvin  athletics       0       0     3      3
Medal   Year           Athlete Name     Sport  Bronze  Silver  Gold  Total
480240  1912  OSBURN, Carl Townsend  shooting       1       2     1      4
Medal   Year Athlete Name     Sport  Bronze  Silver  Gold  Total
566940  1920  LEE, Willis  shooting       1       1     5      7
Medal   Year         Athlete Name     Sport  Bronze  Silver  Gold  Total
710940  1924  WEISSMULLER, Johnny  aquatics       1       0     3      4
Medal   Year         Athlete Name     Sport  Bronze  Silver  Gold  Total
813348  1928  WEISSMULLER, Johnny  aquatics       0       0     2      2
Medal   Year     Athlete Name     Sport  Bronze  Silver  Gold  Total
877370  1932  MADISON, Helene  aquatics       0       0     3      3
Medal   Year  Athlete Name      Sport  Bronze  Silver  Gold  Total
992530  1936  OWENS, Jesse  athletics       0       0     4      4
Medal    Year             Athlete Name     Sport  Bronze  Silver  Gold  Total
1086402  1948  MCLANE, James Price Jr.  aquatics       0       1     2      3
Medal    Year         Athlete Name     Sport  Bronze  Silver  Gold  Total
1178576  1952  KONNO, Ford Hiroshi  aquatics       0       1     2      3
Medal    Year           Athlete Name      Sport  Bronze  Silver  Gold  Total
1295504  1956  MORROW, Robert Joseph  athletics       0       0     3      3
Medal    Year                 Athlete Name     Sport  Bronze  Silver  Gold  Total
1425994  1960  VON SALTZA, Susan Christina  aquatics       0       1     3      4
Medal    Year                Athlete Name     Sport  Bronze  Silver  Gold  Total
1514564  1964  SCHOLLANDER, Donald Arthur  aquatics       0       0     4      4
Medal    Year               Athlete Name     Sport  Bronze  Silver  Gold  Total
1577804  1968  HICKCOX, Charles Buchanan  aquatics       0       1     3      4
Medal    Year Athlete Name     Sport  Bronze  Silver  Gold  Total
1724820  1972  SPITZ, Mark  aquatics       0       0     7      7
Medal    Year          Athlete Name     Sport  Bronze  Silver  Gold  Total
1808732  1976  NABER, John Phillips  aquatics       0       1     4      5
Medal    Year      Athlete Name       Sport  Bronze  Silver  Gold  Total
1919142  1984  RETTON, Mary-Lou  gymnastics       2       2     1      5
Medal    Year     Athlete Name     Sport  Bronze  Silver  Gold  Total
1953334  1988  BIONDI, Matthew  aquatics       1       1     5      7
Medal    Year     Athlete Name       Sport  Bronze  Silver  Gold  Total
2112636  1992  MILLER, Shannon  gymnastics       3       2     0      5
Medal    Year    Athlete Name     Sport  Bronze  Silver  Gold  Total
2244204  1996  VAN DYKEN, Amy  aquatics       0       0     4      4
Medal    Year  Athlete Name     Sport  Bronze  Silver  Gold  Total
2345014  2000  TORRES, Dara  aquatics       3       0     2      5
Medal    Year     Athlete Name     Sport  Bronze  Silver  Gold  Total
2428246  2004  PHELPS, Michael  aquatics       2       0     6      8
Medal    Year     Athlete Name     Sport  Bronze  Silver  Gold  Total
2530654  2008  PHELPS, Michael  aquatics       0       0     8      8

In [13]:
winners = [
    group.sort_values(['Total', 'Gold', 'Silver', 'Bronze', 'Athlete Name'], ascending=False).head(1)
    for year, group in table.groupby('Year')
]
winners

[Medal  Year     Athlete Name      Sport  Bronze  Silver  Gold  Total
 32642  1896  GARRETT, Robert  athletics       0       2     2      4,
 Medal   Year    Athlete Name      Sport  Bronze  Silver  Gold  Total
 107612  1900  BAXTER, Irving  athletics       0       3     2      5,
 Medal   Year  Athlete Name       Sport  Bronze  Silver  Gold  Total
 245424  1904  HEIDA, Anton  gymnastics       0       1     5      6,
 Medal   Year      Athlete Name      Sport  Bronze  Silver  Gold  Total
 390390  1908  SHEPPARD, Melvin  athletics       0       0     3      3,
 Medal   Year           Athlete Name     Sport  Bronze  Silver  Gold  Total
 480240  1912  OSBURN, Carl Townsend  shooting       1       2     1      4,
 Medal   Year Athlete Name     Sport  Bronze  Silver  Gold  Total
 566940  1920  LEE, Willis  shooting       1       1     5      7,
 Medal   Year         Athlete Name     Sport  Bronze  Silver  Gold  Total
 710940  1924  WEISSMULLER, Johnny  aquatics       1       0     3      4,
 Medal   Year         Athlete Name     Sport  Bronze  Silver  Gold  Total
 813348  1928  WEISSMULLER, Johnny  aquatics       0       0     2      2,
 Medal   Year     Athlete Name     Sport  Bronze  Silver  Gold  Total
 877370  1932  MADISON, Helene  aquatics       0       0     3      3,
 Medal   Year  Athlete Name      Sport  Bronze  Silver  Gold  Total
 992530  1936  OWENS, Jesse  athletics       0       0     4      4,
 Medal    Year             Athlete Name     Sport  Bronze  Silver  Gold  Total
 1086402  1948  MCLANE, James Price Jr.  aquatics       0       1     2      3,
 Medal    Year         Athlete Name     Sport  Bronze  Silver  Gold  Total
 1178576  1952  KONNO, Ford Hiroshi  aquatics       0       1     2      3,
 Medal    Year           Athlete Name      Sport  Bronze  Silver  Gold  Total
 1295504  1956  MORROW, Robert Joseph  athletics       0       0     3      3,
 Medal    Year                 Athlete Name     Sport  Bronze  Silver  Gold  Total
 1425994  1960  VON SALTZA, Susan Christina  aquatics       0       1     3      4,
 Medal    Year                Athlete Name     Sport  Bronze  Silver  Gold  Total
 1514564  1964  SCHOLLANDER, Donald Arthur  aquatics       0       0     4      4,
 Medal    Year               Athlete Name     Sport  Bronze  Silver  Gold  Total
 1577804  1968  HICKCOX, Charles Buchanan  aquatics       0       1     3      4,
 Medal    Year Athlete Name     Sport  Bronze  Silver  Gold  Total
 1724820  1972  SPITZ, Mark  aquatics       0       0     7      7,
 Medal    Year          Athlete Name     Sport  Bronze  Silver  Gold  Total
 1808732  1976  NABER, John Phillips  aquatics       0       1     4      5,
 Medal    Year      Athlete Name       Sport  Bronze  Silver  Gold  Total
 1919142  1984  RETTON, Mary-Lou  gymnastics       2       2     1      5,
 Medal    Year     Athlete Name     Sport  Bronze  Silver  Gold  Total
 1953334  1988  BIONDI, Matthew  aquatics       1       1     5      7,
 Medal    Year     Athlete Name       Sport  Bronze  Silver  Gold  Total
 2112636  1992  MILLER, Shannon  gymnastics       3       2     0      5,
 Medal    Year    Athlete Name     Sport  Bronze  Silver  Gold  Total
 2244204  1996  VAN DYKEN, Amy  aquatics       0       0     4      4,
 Medal    Year  Athlete Name     Sport  Bronze  Silver  Gold  Total
 2345014  2000  TORRES, Dara  aquatics       3       0     2      5,
 Medal    Year     Athlete Name     Sport  Bronze  Silver  Gold  Total
 2428246  2004  PHELPS, Michael  aquatics       2       0     6      8,
 Medal    Year     Athlete Name     Sport  Bronze  Silver  Gold  Total
 2530654  2008  PHELPS, Michael  aquatics       0       0     8      8]

In [14]:
winners[0]

Medal  Year     Athlete Name      Sport  Bronze  Silver  Gold  Total
32642  1896  GARRETT, Robert  athletics       0       2     2      4

In [15]:
type(winners[0])

pandas.core.frame.DataFrame

In [16]:
pd.concat(winners)

Medal    Year                 Athlete Name       Sport  Bronze  Silver  Gold  Total
32642    1896              GARRETT, Robert   athletics       0       2     2      4
107612   1900               BAXTER, Irving   athletics       0       3     2      5
245424   1904                 HEIDA, Anton  gymnastics       0       1     5      6
390390   1908             SHEPPARD, Melvin   athletics       0       0     3      3
480240   1912        OSBURN, Carl Townsend    shooting       1       2     1      4
566940   1920                  LEE, Willis    shooting       1       1     5      7
710940   1924          WEISSMULLER, Johnny    aquatics       1       0     3      4
813348   1928          WEISSMULLER, Johnny    aquatics       0       0     2      2
877370   1932              MADISON, Helene    aquatics       0       0     3      3
992530   1936                 OWENS, Jesse   athletics       0       0     4      4
1086402  1948      MCLANE, James Price Jr.    aquatics       0       1     2      3
1178576  1952          KONNO, Ford Hiroshi    aquatics       0       1     2      3
1295504  1956        MORROW, Robert Joseph   athletics       0       0     3      3
1425994  1960  VON SALTZA, Susan Christina    aquatics       0       1     3      4
1514564  1964   SCHOLLANDER, Donald Arthur    aquatics       0       0     4      4
1577804  1968    HICKCOX, Charles Buchanan    aquatics       0       1     3      4
1724820  1972                  SPITZ, Mark    aquatics       0       0     7      7
1808732  1976         NABER, John Phillips    aquatics       0       1     4      5
1919142  1984             RETTON, Mary-Lou  gymnastics       2       2     1      5
1953334  1988              BIONDI, Matthew    aquatics       1       1     5      7
2112636  1992              MILLER, Shannon  gymnastics       3       2     0      5
2244204  1996               VAN DYKEN, Amy    aquatics       0       0     4      4
2345014  2000                 TORRES, Dara    aquatics       3       0     2      5
2428246  2004              PHELPS, Michael    aquatics       2       0     6      8
2530654  2008              PHELPS, Michael    aquatics       0       0     8      8

In [17]:
pd.concat(winners)[["Year",	"Athlete Name",	"Sport", "Total"]]

Medal    Year                 Athlete Name       Sport  Total
32642    1896              GARRETT, Robert   athletics      4
107612   1900               BAXTER, Irving   athletics      5
245424   1904                 HEIDA, Anton  gymnastics      6
390390   1908             SHEPPARD, Melvin   athletics      3
480240   1912        OSBURN, Carl Townsend    shooting      4
566940   1920                  LEE, Willis    shooting      7
710940   1924          WEISSMULLER, Johnny    aquatics      4
813348   1928          WEISSMULLER, Johnny    aquatics      2
877370   1932              MADISON, Helene    aquatics      3
992530   1936                 OWENS, Jesse   athletics      4
1086402  1948      MCLANE, James Price Jr.    aquatics      3
1178576  1952          KONNO, Ford Hiroshi    aquatics      3
1295504  1956        MORROW, Robert Joseph   athletics      3
1425994  1960  VON SALTZA, Susan Christina    aquatics      4
1514564  1964   SCHOLLANDER, Donald Arthur    aquatics      4
1577804  1968    HICKCOX, Charles Buchanan    aquatics      4
1724820  1972                  SPITZ, Mark    aquatics      7
1808732  1976         NABER, John Phillips    aquatics      5
1919142  1984             RETTON, Mary-Lou  gymnastics      5
1953334  1988              BIONDI, Matthew    aquatics      7
2112636  1992              MILLER, Shannon  gymnastics      5
2244204  1996               VAN DYKEN, Amy    aquatics      4
2345014  2000                 TORRES, Dara    aquatics      5
2428246  2004              PHELPS, Michael    aquatics      8
2530654  2008              PHELPS, Michael    aquatics      8

In [18]:
pd.concat(winners)[["Year",	"Athlete Name",	"Sport", "Total"]].reset_index()

Medal    index  Year                 Athlete Name       Sport  Total
0        32642  1896              GARRETT, Robert   athletics      4
1       107612  1900               BAXTER, Irving   athletics      5
2       245424  1904                 HEIDA, Anton  gymnastics      6
3       390390  1908             SHEPPARD, Melvin   athletics      3
4       480240  1912        OSBURN, Carl Townsend    shooting      4
5       566940  1920                  LEE, Willis    shooting      7
6       710940  1924          WEISSMULLER, Johnny    aquatics      4
7       813348  1928          WEISSMULLER, Johnny    aquatics      2
8       877370  1932              MADISON, Helene    aquatics      3
9       992530  1936                 OWENS, Jesse   athletics      4
10     1086402  1948      MCLANE, James Price Jr.    aquatics      3
11     1178576  1952          KONNO, Ford Hiroshi    aquatics      3
12     1295504  1956        MORROW, Robert Joseph   athletics      3
13     1425994  1960  VON SALTZA, Susan Christina    aquatics      4
14     1514564  1964   SCHOLLANDER, Donald Arthur    aquatics      4
15     1577804  1968    HICKCOX, Charles Buchanan    aquatics      4
16     1724820  1972                  SPITZ, Mark    aquatics      7
17     1808732  1976         NABER, John Phillips    aquatics      5
18     1919142  1984             RETTON, Mary-Lou  gymnastics      5
19     1953334  1988              BIONDI, Matthew    aquatics      7
20     2112636  1992              MILLER, Shannon  gymnastics      5
21     2244204  1996               VAN DYKEN, Amy    aquatics      4
22     2345014  2000                 TORRES, Dara    aquatics      5
23     2428246  2004              PHELPS, Michael    aquatics      8
24     2530654  2008              PHELPS, Michael    aquatics      8

In [19]:
pd.concat(winners)[["Year",	"Athlete Name",	"Sport", "Total"]].reset_index?

Object `reset_index` not found.

In [20]:
pd.DataFrame.reset_index?

In [21]:
pd.concat(winners)[["Year",	"Athlete Name",	"Sport", "Total"]].reset_index(drop=True)

Medal  Year                 Athlete Name       Sport  Total
0      1896              GARRETT, Robert   athletics      4
1      1900               BAXTER, Irving   athletics      5
2      1904                 HEIDA, Anton  gymnastics      6
3      1908             SHEPPARD, Melvin   athletics      3
4      1912        OSBURN, Carl Townsend    shooting      4
5      1920                  LEE, Willis    shooting      7
6      1924          WEISSMULLER, Johnny    aquatics      4
7      1928          WEISSMULLER, Johnny    aquatics      2
8      1932              MADISON, Helene    aquatics      3
9      1936                 OWENS, Jesse   athletics      4
10     1948      MCLANE, James Price Jr.    aquatics      3
11     1952          KONNO, Ford Hiroshi    aquatics      3
12     1956        MORROW, Robert Joseph   athletics      3
13     1960  VON SALTZA, Susan Christina    aquatics      4
14     1964   SCHOLLANDER, Donald Arthur    aquatics      4
15     1968    HICKCOX, Charles Buchanan    aquatics      4
16     1972                  SPITZ, Mark    aquatics      7
17     1976         NABER, John Phillips    aquatics      5
18     1984             RETTON, Mary-Lou  gymnastics      5
19     1988              BIONDI, Matthew    aquatics      7
20     1992              MILLER, Shannon  gymnastics      5
21     1996               VAN DYKEN, Amy    aquatics      4
22     2000                 TORRES, Dara    aquatics      5
23     2004              PHELPS, Michael    aquatics      8
24     2008              PHELPS, Michael    aquatics      8